[2014-01-21 04:49] Dmitry-Me opened #2 "Why are _thread and _process in ICodeAnalyzer static?"
I'm staring into the code and I don't get why _thread and _process in ICodeAnalyzer are declared static. Before I try to propose an edit could you please maybe shed some light onto this design decision?

[2014-01-22 09:15] Dmitry-Me opened #5 "Any objections against using "--relative-paths" command line switch?"
Starting with version 1.54 (http://sourceforge.net/apps/trac/cppcheck/milestone/1.54) there's "--relative-paths" command line options that makes cppcheck output file paths relative to a specified base (presumably project root). If the file is above project root an absolute path seems to be output.

This makes the output more or less similar to what the compiler outputs - neat short filenames inste

[2014-01-22 10:55] #5 closed, assigned to nobody

[2014-01-23 06:55] Dmitry-Me opened #6 ""save all" is handled incorrectly when two or more files are unsaved"
Currently if two or more source files have been edited and not yet saved and "save all" is pressed the documentSaved() handler is invoked once for each of the files and so only the last file analysis output gets displayed in the output window and all other files analysis output is lost. No idea how to fix this at the moment.

[2014-01-24 15:10] #2 closed, assigned to nobody

[2014-02-03 11:32] VioletGiraffe opened #10 "What has to be done before introducing the plugin to wide public"
I'm thinking of polishing the project a little bit and asking cppcheck developers to feature it on the cppcheck's main page (which currently says there is no VS plugin). What has to be done before that:
- The terrible "settings" window either has to go or needs serious work. I merely used it for runtime customization as opposed to hard-coding command line arguments etc. It might be useful at that,

[2014-02-07 07:44] #10 closed, assigned to nobody

[2014-02-07 09:24] VioletGiraffe opened #13 "FileType field is suddenly gone from VCFile in VS2013, still works fine in 2012"
Somehow has happened to the project configuration (I don't have any other explanation, it worked 2 hours ago), and FileType is no longer a member of VCFile. I've confirmed it with debugger. Had to make this change to get the add-in working on VS2013 again: https://github.com/VioletGiraffe/cppcheck-vs-addin/commit/8d8a04eb35ba6df6ed7fa4b9942c784907bd2cb5

What has happened, any idea how to fix it?

[2014-02-07 12:18] Dmitry-Me opened #14 "Exiting Visual Studio is not properly handled"
Currently the following sequence: open a large project, ask to check it with cppcheck, then exit Visual Studio before analysis finishes - leaves cppcheck.exe running and also sometimes the analyzerOutputHandler() will be invoked with Visual Studio in the middle of exiting which triggers an exception inside OutputString() method of the output pane object. Same if Visual Studio crashes in the middle

[2014-02-08 14:10] IOBYTE opened #15 "Add option to show cppcheck command line."
I would like to see an option added to show the command line in the output exactly as it is given to cppcheck.

[2014-02-10 09:21] Altren opened #16 "Incorrect additional include paths usage (missing "\" between concatenated paths)."
I have next string in additional include paths:

[code]

but what I see in log is that those paths are concantenated with project's path without ending "\":

[code]

[2014-02-10 11:57] #13 closed, assigned to nobody

[2014-02-10 21:25] #15 closed, assigned to nobody

[2014-02-11 04:53] Dmitry-Me opened #18 "Traffic graph reports numerous requests to the /releases path"
I looked into the traffic graph and the number one page requested is "https://github.com/VioletGiraffe/cppcheck-vs-addin/releases/tag/1.0.1" (release 1.0.2 has just appeared), the second one is the project start page and the third one is https://github.com/VioletGiraffe/cppcheck-vs-addin/releases I'd guess the third one is from http://cppcheck.sourceforge.net/ - they link to /releases which means

[2014-02-11 06:35] #14 closed, assigned to nobody

[2014-02-12 22:59] rhoot opened #23 "Environment variables are not expanded"
If one puts an environment variable in include paths, it does not get expanded before being passed to cppcheck.

Due to the way our environment is set up, I have the path `$(SourceRoot)\External\H` in my include path (among others). This gets expanded into `D:\Perforce\Dev\Projects\Vs2012\$(SourceRoot)\External\H`, making cppcheck output this in its output window:

[code]

[2014-02-13 08:11] #23 closed, assigned to nobody

[2014-02-13 09:17] amaigil2 opened #25 "Plugin failure: "Object reference not set to an instance of an object""
The plugin (version 1.0.4 and earlier versions) does not work for me:
"Object reference not set to an instance of an object" (actually I use German language version: "Der Objektverweis wurde nicht auf eine Objektinstanz festgelegt"). It is VS 2012 Professional, Update 4 on Windows 7.
The settings dialog is available, but "check current project with cppcheck" always triggers this error message.

[2014-02-13 09:32] #16 closed, assigned to VioletGiraffe

[2014-02-13 14:50] Dmitry-Me opened #27 "Suspicious code in SourceFile constructor"
SourceFile constructor contains a chain of _if_s checking the value of _vcCompilerName_ variable which comes from the calling function where it is read from _PlatformToolsetShortName_ property. The _default_ yields _VCCompilerVersion.vcFuture_ enum value.

The deal is I'm using Visual Studio 2012 on some project created from "Win32 Console Application" template and for both .cpp and .c files this

[2014-02-13 22:19] Altren opened #28 "Enhancement: allow to select cppcheck options."
Allow a bunch of checkboxes to choose between next options: style,information,warning,performance,portability,error. For good descriptions for tooltips look here: https://github.com/danmar/cppcheck/blob/9ab6655d85d009cb1c0f30b2fe228f1a3c7714c9/lib/errorlogger.h

Also it would be important to change suppressions list (simple set of checkboxes for every supression option would be enough). Unfortunat

[2014-02-14 10:31] ReggThims opened #29 "command line has -D -DWIN32 causing fail"
For a particular project in a solution for which another project works, the command line generated is:

Starting analyzer with arguments: --enable=style,information,warning,performance,portability --inline-suppr -q --force --template=vs --relative-paths="C:\HgWork\Spike8\son64\tson64tst" -j 8 --suppress=passedByValue --suppress=cstyleCast --suppress=missingIncludeSystem --suppress=unusedStructMemb

[2014-02-14 11:37] #29 closed, assigned to VioletGiraffe

[2014-02-14 11:43] #27 closed, assigned to VioletGiraffe

[2014-02-14 16:29] #25 closed, assigned to Dmitry-Me

[2014-02-14 18:08] ReggThims opened #32 "There is no --enable parameter with the name 'error'"
Latest committed version run with on my project now gives:

Starting analyzer with arguments: --inline-suppr -q --force --template=vs --enable=style,information,warning,performance,portability,error --relative-paths="C:\HgWork\Spike8\SpikeUtl" -j 8 --suppress=passedByValue --suppress=cstyleCast --suppress=missingIncludeSystem --suppress=unusedStructMember --suppress=unmatchedSuppression --suppress

[2014-02-17 09:41] Dmitry-Me opened #34 "Settings pane managed in suspicious manner"
If I ask to display cppcheck settings and then with the pane open ask again I now have two panes. Each time a pane is crafted there's a cppcheck.exe run. Why isn't the pane just cached and reused?

[2014-02-17 12:15] ReggThims opened #36 "Enhancement: Add undefined macro symbols from the project config"
It would reduce the noise in my output if undefined symbols (-USYMBOL) were supported in the same way as defining symbols (-DSYMBOL).

[2014-02-17 13:11] ReggThims opened #37 "Unmatched suppression"
At the end of the output I get:
*(0): information: Unmatched suppression: constStatement
*(0): information: Unmatched suppression: missingInclude
*(0): information: Unmatched suppression: missingIncludeSystem
*(0): information: Unmatched suppression: passedByValue

I guess that these are either misspellings or flags that cppcheck does not (yet?) know about.

[2014-02-17 14:53] Dmitry-Me opened #38 "Per-file settings ignored"
Visual Studio allows changing compilation settings per file - select a .cpp or .c file in Solution Explorer and for example add a new preprocessor symbols. If you look at the command line it's clear that the per-file settings are ignored both for "check whole project" and for "check current file".

[2014-02-17 17:57] ReggThims opened #39 "Enhancement: check box for --check-config"
I have problems with cppcheck that are probably due to #include files not being seen. If I turn on the options to be told about missing include files I get:
(): information: Cppcheck cannot find all the include files (use --check-config for details)

So, either turn this on automatically if the include file options are selected or make this an additional option.

[2014-02-18 09:57] #36 closed, assigned to VioletGiraffe

[2014-02-18 09:58] #37 closed, assigned to VioletGiraffe

[2014-02-18 13:06] Dmitry-Me opened #42 "COMException with E_UNEXPECTED code when a new project is being created"
Here's the repro: in Visual Studio 2012 I start with no solution opened and then use File -> New -> Project, there I select _Visual C++_ -> _Win32 Console Application_, click through and for every newly created source file of the new project I have _documentSaved()_ invoked and it yields COMException with _E_UNEXPECTED_ error code when trying to obtain _document.ProjectItem_. Each time the excepti

[2014-02-18 14:22] ReggThims opened #43 "Make the cppcheck output window visible on running check"
If the cppcheck output windows is not the selected Output window, you get no visual confirmation that the cppcheck command has been actioned. If the Output window is visible you should select the relevant cppcheck window. I'm not sure if the standard practice in VS is to make the Output window visible if there is output from a command... yes it appears it is, so you should also do this.

[2014-02-18 14:27] ReggThims opened #44 "Installation over previous version"
I am working with the git repo latest master and building the project to a vsix file. When I double-click this file to install it I am always told that it is already installed, so I have to go to VS2012 and VS2013 and uninstall it. Also, it is coming up as version 1.0.4 when it is installed, even though there is a tag in the project for 1.0.5.

Is this an issue with version numbers? Is there any w

[2014-02-18 21:01] Altren opened #45 "Enhancement: Custom commandline parameters"
Add edit box with additional command line parameters. There are many things cppcheck can do and implementing GUI for each is barely possible (or will take a while).

[2014-02-19 11:03] #32 closed, assigned to nobody

[2014-02-19 11:05] #45 closed, assigned to nobody

[2014-02-19 11:06] #28 closed, assigned to nobody

[2014-02-19 11:11] Altren opened #46 "Weird additional arguments textbox behavior."
TextBox for additional arguments works fine only when VisualStudio have no source files opened or solution tree have focus. Otherwise textbox behaves next way: characters keys work just fine, but most other keys goes to currently focused panel in visual studio, so f.e. you can print something in textbox, but when you press delete or backspace it affect code instead (same for arrows, Ctrl+ ... comb

[2014-02-19 14:25] Dmitry-Me opened #49 "Wrong flag being taken into account when project with one file is checked"
AnalyzerCppcheck.analyze() contains the following line:

and if the project contains one source file only the first condition evaluates to _true_ and so the _FileOnlyCheckCurrentConfig_ setting is taken into account instead of _ProjectOnlyCheckCurrentConfig_.

[2014-02-19 18:26] #42 closed, assigned to nobody

[2014-02-21 13:48] ReggThims opened #52 "Why is --force set?"
Now that we have the exact configuration of predefined macros read from the configuration of the current project, it seems somewhat perverse (to me) to use --force to make all possible combinations of undefined macros be analysed.

Ideally, what I want is to check things exactly as the compiler would see it for the current configuration... or at least have this as an option.

The fact that I get e

[2014-02-21 14:59] ReggThims opened #53 "Warnings when building project (21-Feb-2014)"
c:\GitStuff\cppcheck-vs-addin\CPPCheckPlugin\MainToolWindow.cs(28): warning : CA2214 : Microsoft.Usage : 'MainToolWindow.MainToolWindow()' contains a call chain that results in a call to a virtual method defined by the class. Review the following call stack for unintended consequences:
c:\GitStuff\cppcheck-vs-addin\CPPCheckPlugin\MainToolWindow.cs(28): warning :
c:\GitStuff\cppcheck-vs-addin\CPPCh

[2014-02-22 15:47] #39 closed, assigned to nobody

[2014-02-24 07:49] #52 closed, assigned to VioletGiraffe

[2014-02-24 08:56] Altren opened #54 "Possibility to check whole solution."
It would be nice to have possibility to check whole solution, because checking each project is tedious, and everywhere I worked solutions had more than few projects in them.

[2014-02-24 10:16] Dmitry-Me opened #55 "Do we need a contributors guide yet?"
I thought maybe we need a short contributors guide already. Something like how to make Visual Studio run the right version of Visual Studio and which Visual Studio SDK to install. Anything else perhaps?

[2014-02-25 15:31] ReggThims opened #57 "Bugs in 25/Feb git version"
If you use the CppCheck Settings menu, close the settings window, then use the CppCheck Settings menu command again you get: "Cannot set Visibility or call Show, ShowDialog, or WindowInteropHelper.EnsureHandle after a Window has closed"

The template set is no longer correct for VS2012 as it is using vertical bars to separate the fields. The standard format is (for example):
path\to\file.cpp(line)

[2014-02-25 20:12] #57 closed, assigned to nobody

[2014-02-26 10:12] ReggThims opened #58 "Format Exception in 26/Feb code"
I get:
FormatException was unhandled. Input string was not in a correct format.

in protected override List<Problem> parseOutput(String output) at
list.Add(new Problem(severity, parsed[3], parsed[4], parsed[0], Int32.Parse(parsed[1]), _projectBasePath));
parsed [0] and [1] are empty,
[2] = "information"
[3]="missingInclude"
[4]="explanation..."

possibly calling int32.Parse() on an empty string is

[2014-02-26 10:53] #58 closed, assigned to nobody

[2014-02-27 14:54] ReggThims opened #59 "Suggestions for new-style results window"
The results seem to be working quite nicely.
1) Could you consider using smaller Severity icons? Because they are taller than 1 line of text I now see fewer messages in the same size window than before.
2) I really would like to have columns for the file name and line number.

[2014-02-28 07:52] #18 closed, assigned to VioletGiraffe

[2014-03-03 09:52] ReggThims opened #60 "MSVC-style include not supported by cppcheck?"
I have been struggling to explain why in our projects we have problems with cppcheck not being able to find some #included files. I think I now know why this happens.

We have a main program in folder \main and this then has sub-projects (dlls) in sub-folders \main\dll1, \main\dll2 and so on. Each project (main and dll1, dll2...) has a list of folders to search for include files; the sub-projects

[2014-03-03 10:07] #60 closed, assigned to VioletGiraffe

[2014-03-03 19:48] charleswhchan opened #61 "Add support for VS2010?"
Any plans to support this plugin for VS2010?

When I run the .vsix, I get an error:
  The extension manifest is invalid.

[2014-03-04 09:11] VioletGiraffe opened #62 "Add a setting for skipping certain files by names when checking a project"
Should recognize wildcards / regexps.

[2014-03-04 13:37] ghost opened #64 "How do I change the commandline parameters that are passed to cppcheck?"

[2014-03-05 13:29] Dmitry-Me opened #67 ""System.Windows.Data Error" messages in debug output window"
I start Visual Studio 2012, open a project and see the following line in debug output window:

then I select "check current project" and the following line appears in debug output:

other than that it looks working just fine. No idea what these messages mean.

[2014-03-05 21:43] #67 closed, assigned to VioletGiraffe

[2014-03-06 09:32] Dmitry-Me opened #69 "Settings window is too large to fit"
I'm running Windows 7 at 1280*1024 resolution with 125% sized fonts. When I ask to show the cppcheck settings window it appears in the area that starts from where the Visual Studio toolbar ends and spans well below the taskbar. If I drag it with mouse to the top of the screen the last thing I can access is "passing result of c_str()" in the "performance" section.

I'd guess the window should detec

[2014-03-06 10:18] #34 closed, assigned to nobody

[2014-03-06 10:58] #53 closed, assigned to nobody

[2014-03-06 13:24] Altren opened #71 "Supresisons file for whole solution."
Since projects in one solution usually follow same coding style rules it would be nice to be able to suppress warnings for all projects in given solution.

Implementation could be simpe: use same suppressions.cfg file, but put it near solution file (also I think that adding project name to file name would be important to avoid conflicts when solution and project file are in same folder or several

[2014-03-06 13:52] #64 closed, assigned to nobody

[2014-03-06 15:21] #46 closed, assigned to nobody

[2014-03-06 20:16] #59 closed, assigned to VioletGiraffe

[2014-03-07 06:01] #71 closed, assigned to VioletGiraffe

[2014-03-07 09:18] Dmitry-Me opened #72 "String.Replace() used incorrectly has no effect"
`AnalyzerCppCheck.analyze()` currently has this code:

[code]

and Code Analysis emits CA1806 warning for the `Replace()` saying the return value should be used. It looks like the variable is not changed by this line and the whole line has no effect.

[2014-03-07 09:24] #72 closed, assigned to VioletGiraffe

[2014-03-07 14:34] Altren opened #73 "Inherited project settings are not used."
Settings, inherited from property sheets are not used during check.
Include directories and preprocessor definitions should be added to other includes.

F.e. I use boost propertysheet in all projects to not specify path to boost in each.

[2014-03-07 15:08] c-273 opened #74 "Parameter incorrect (Exception from HRESULT 0x80070057 (E_INVALIDARG))"
This plugin was working fine in VS2012 until I opened another instance of it and then tried to run the plugin in the second one on a different project.  Now I get this all the time - even after a PC restart.
However, I could be mistaken in that this wasn't the cause.
Deleting the files in %LocalAppData%\Microsoft\VisualStudio\11.0\Extensions and re-installing didn't fix it.
I don't know how to pro

[2014-03-08 00:20] IOBYTE opened #75 "Add a way to cancel analysis."
It would be nice to be able to cancel an analysis in progress.  I have various sized projects in my solution and I accidentally started checking the wrong one that takes a very long to complete.  I couldn't see any way to stop it.

[2014-03-11 11:42] ReggThims opened #76 "No analyser output with 11/March code"
Having updated to the latest sources I no longer get any output in the Cppcheck analysis results or the Output cppcheckl analysis output (though I do see the command line there).

Also, have you changed the version number in the manifest... each time I install it I see that the version is now 1.0.5 (I was used to seeing 1.0.4)?  The CppCheck settings... command does open the dialog with all the su

[2014-03-12 18:21] ReggThims opened #77 "When saving multiple files can we reduce the message boxes?"
When working through a cppcheck report, one often has multiple dirty files that you wouold like to build to check that the changes have not broken anything. However, you do not want to disturb the cppcheck results (which may have taken a lot of time to generate).

It is good that you get a dialog to warn of the potential loss of the old results, but it is a PITA to be asked for every file. Also, i

[2014-03-13 20:57] #77 closed, assigned to nobody

[2014-03-13 22:52] #76 closed, assigned to nobody

[2014-03-16 02:14] #49 closed, assigned to nobody

[2014-03-16 02:20] #55 closed, assigned to nobody

[2014-03-16 21:53] #62 closed, assigned to VioletGiraffe

[2014-03-16 22:10] #69 closed, assigned to nobody

[2014-03-16 22:18] Altren opened #78 "Exlude some include paths by default."
With including all this visual studio headers by default checks goes very slow while getting little profit from those. Same for included boost/qt/other huge libraries headers.

What I suggest is to exclude those by default in global suppressions. User would be able to remove those exclusions, but right now many users think that plugin simply doesn't work rather than work very slow (f.e. checks wit

[2014-03-16 22:19] Altren opened #79 "1.0.6 release"
I think we are ready for next release. I think that all parts are enough solid and stable.

The only issue that may be need to be resolved before release is #78.

[2014-03-17 19:06] #78 closed, assigned to nobody

[2014-03-17 20:58] #74 closed, assigned to nobody

[2014-03-17 20:59] #44 closed, assigned to nobody

[2014-03-17 21:07] #79 closed, assigned to nobody

[2014-03-17 22:00] c-273 opened #80 "Enhancement Request: Additional changes to Settings Dialogs"
As raised in problem #74, I would like a few more features regarding Settings if possible please.

I know there has been a recent improvement (commit 787185d) but may I ask for more :-)

1. Could the initial dialog be a bit bigger - the checkboxes are much too close together?
2. Could this dialog also have the "OK" and "Cancel" buttons?
3. Could the state of settings of 4 checkboxes at the top of

[2014-03-18 12:28] VioletGiraffe opened #81 "Detect long cppcheck analysis run time and display a message with advices on improving performance"
Advices should include:
- Only checking currently active configuration
- Excluding library include paths

[2014-03-18 12:32] VioletGiraffe opened #82 "Storing results of previous checks in a history list instead of just clearing them"
So what I have in mind is a "History" combobox, which would default to "Latest check", but you can go back to any previous analysis result if you so desire. That way we don't need to ask whether you want to run new analysis or not - we'll just run it, and if you want to go back and review previous results (like you were checking a project, then editing some files and saving them) - you can do so.

[2014-03-18 12:33] VioletGiraffe opened #83 "Add a setting for checking files upon saving"
Enabled by default, but users should be able to disable this feature.

[2014-03-18 19:47] #83 closed, assigned to VioletGiraffe

[2014-03-19 00:02] IOBYTE opened #84 "Inherited defines not being passed to cppcheck"
We should be setting the platform type on the command line based on CPU type and UNICODE or _UNICODE being defined.  We have no idea how cppcheck was compiled  so not setting a platform type only give us a 1 in 3 chance of getting it right.

[2014-03-19 00:06] IOBYTE opened #85 "library files not specified by default"
We should be adding --library=windows and --library=posix on the command line by default. Most users will want these and won't add the manually because they don't even know they need them.

[2014-03-19 12:35] ReggThims opened #86 "New release does not save changes to setup"
The new release is much better in so many ways, and the configuration dialog is better in every way, EXCEPT, at least for me, any changes I make in vanish when I close the dialog and reopen it.

It always comes up with all 4 checkboxes clear and Additional arguments empty.

Do I need to delete something from my system (maybe some configuration file) to make it work correctly? I was using versions

[2014-03-20 08:10] VioletGiraffe opened #87 "Remove the panel with the list of available checks?"
I think we should remove that component as it's no longer required. Any objections?

[2014-03-20 08:25] #85 closed, assigned to nobody

[2014-03-20 08:58] VioletGiraffe opened #88 "Make the tool window styled according to the global VS style"
I have dark theme in my VS, and the tool window looks like a white crow. It seems that styling it is possible, but far from trivial: http://social.msdn.microsoft.com/Forums/vstudio/en-US/69cd1767-861f-42b8-840f-a05f6622d514/naive-question-why-are-my-wpf-buttons-and-controls-in-my-toolwindow-not-themed-in-vs2012-why-are?forum=vsx

[2014-03-21 06:33] dharanikumarsrvn opened #89 "Default suppressions"
While starting the analyzer, i find some default suppression like passedByValue, cstyleCast, missingIncludeSystem, unusedPrivateFunction and some more enabled. I would like to know is there any way to remove those suppressions? I want my to get maximum possible warnings from my analyzer so with no suppression. Please assist me.

[2014-03-21 14:24] JayXon opened #90 "open setting cause vs2013 to crash"
I'm a new user, I just installed v1.1.0 today. After I installed it, I restarted vs2013 and then clicked TOOLS - Cppcheck settings. Then a blank dialog popped up and vs2013 crashed. I can reproduce this every time.

[2014-03-25 20:29] #90 closed, assigned to nobody

[2014-03-27 09:10] dharanikumarsrvn opened #91 "how to exclude header files"
Cppcheck-vs-addin takes more time to analyze C++ program. Based on what i found, the issue was due to #include winsock2.h. The header file make cppcheck to parse all files under "C:\Program Files (x86)\Windows Kits\8.0\Include" directory. Could anyone suggest a way to exclude those header file while analyzing? Thank you.
PS: i am using Cppcheck-vs-addin Version 1.1.0 and Microsoft visual studio 20

[2014-03-27 09:35] #91 closed, assigned to nobody

[2014-04-08 22:19] IOBYTE opened #92 "Inherited defines not passed to cppheck"
I hit an #error when checking some MFC code because _AFXDLL wasn't defined.  It turns out that _AFXDLL and other important defines like _UNICODE are inherited defines and are not being passed to cppcheck.  Could we please also pass these defines to cppcheck?

[2014-04-30 08:43] acostela opened #93 "Fast analysis"
Hi.

I´m new here but I installed your plugin and I find it very interesting. Maybe I have to change it for my own purpose and I would like to know if you are interested if I contribute. My first question:

Could be nice if we can use cppcheck only to analyze one single file? I mean use it with the plugin as you can use it in command line to check only one "foo.cpp" instead of the whole project so

[2014-04-30 11:08] acostela opened #94 "Automatic messages"
Hi.

I have used CppCheck from comandLine before but for big projects as you know it´s very difficult to use and define every variable, includes path, etc... This plugin makes our life easier taking that info from VS. I want to use this plugin inside a big project and encourage the team to make use of it. One disadvantage that I noticed is that we get all the warnings, errors, style messages when

[2014-05-08 08:06] #94 closed, assigned to nobody

[2014-05-22 15:26] m5knt opened #95 "File_OnlyCheckCurrentConfig_Unchecked not set to false"
https://github.com/VioletGiraffe/cppcheck-vs-addin/blob/master/CPPCheckPlugin/CppcheckSettings.xaml.cs#L110

Is that correct?

[2014-05-23 13:33] #95 closed, assigned to nobody

[2014-06-27 23:08] Donwangugi opened #97 "Unable To Export Results"
Unless I know otherwise. It is not easy for me to export the results to someone else. I am a security researcher on a team with developers. I wanted to run this tool, prune the false positives and then export the results to the developers so that they could handle them.

[2014-09-07 13:08] jackpoz opened #98 "Crash on Visual Studio 2013"
I keep getting a crash when opening Cppcheck settings from Visual Studio 2013

callstack:

Exception message: System.NullReferenceException , Object reference not set to an instance of an object.

[2014-09-07 20:16] #92 closed, assigned to nobody

[2014-09-09 12:55] #98 closed, assigned to nobody

[2014-12-11 08:59] lohengrin opened #99 "VS2013 Carsh at check end"
The plugin crash VS2013 at the end of many (not all) of my projects.
I succeed to reproduce the bug using debug version, but my level in C# and VS SDK is quite limited and I do not understand why it crash here.
![cppcheck-vsaddin](https://cloud.githubusercontent.com/assets/2031871/5391510/3706ac42-811c-11e4-9380-95729b0453b4.png)

So if someone can help me to solve it....

[2015-01-11 23:24] dreieier opened #102 "Supressions ignored by VisualStudio add-in"
In a VisualStudio C++ project I want to exclude files from a library from being checked. All files start with "juce_". In the CppCheck settings under "Edit Global supressions" I added "^juce_.*\.cpp$" and "^juce_.*\.h$" in the file list. Additionally, in the directory list, I added regexes in the style of ".*juce.*".
The supressions seem to be ignored and all the files I want to exclude are checke

[2015-01-12 07:56] SanderBouwhuis opened #103 "Cannot install the plugin when VS2012 and VS2013 are both installed"
I have a machine with both VS2012 and VS2013 installed side by side. When I try to install the plugin, it only installs it for VS2012.

Any info on how to also add it to VS2013?

[2015-01-12 09:02] VioletGiraffe commented on #103
I have VS 2012, 2013 and 2015 Preview, and the plugin can be installed for all of them - I've just tested.
If 2013 is not in the list, chances are this version of the plugin is already installed there.

[2015-01-12 09:29] VioletGiraffe commented on #102
Your regex syntax is simply incorrect. These are C# regexes. Not the syntax of the pre-existing default  suppressions. If you want to exclude files named "juce_*.*" (don't see a point writing the same filter twice for .cpp and .h), then the filter is this: `^juce_.*\.$`
Same with paths. Use the default ones for reference.

[2015-01-12 19:45] dreieier commented on #102
Thanks for the quick reply and sorry for my malformed regex syntax. I forgot the extra slashes for escaping in the post. Please let me correct it:<br>In the settings I have: <code>^juce_.*\\.cpp$</code>, <code>^juce_.*\\.h$</code> to supress the files and <code>.\*juce.\*</code> for the root directory of the library.<br>Of course, there is no use for the same filter on .cpp and .h and also the dir

[2015-01-12 19:54] VioletGiraffe commented on #102
It's not eaten, I forgot it :)
So does it work now?

[2015-01-12 21:06] dreieier commented on #102
No, it doesn't... All #included .h files in the lib are checked and also .cpp files.

[2015-01-12 22:19] VioletGiraffe commented on #102
You don't have `*` in your file filters. Try this, as per my edited reply:

`^juce_.*\.*$`

[2015-01-12 22:36] dreieier commented on #102
This was among the things I tried, still the juce pours out.

[2015-01-13 05:55] VioletGiraffe commented on #102
Do .cpp files pour out, or just headers?

[2015-01-13 06:54] SanderBouwhuis commented on #103
I think there is a bug of some sorts. When I run the CppcheckPlugin.vsix it ONLY shows me VS012 as option. Here is a screenshot of my desktop with BOTH VS2012 and VS2013 installed:
<a href="http://s886.photobucket.com/user/shbouwhuis/media/VS2012VS2013PluginBug.png.html" target="_blank"><img src="http://i886.photobucket.com/albums/ac64/shbouwhuis/th_VS2012VS2013PluginBug.png" border="0" alt="VS201

[2015-01-13 07:40] VioletGiraffe commented on #103
Hm. I don't know what's wrong.
As far as I know, there's no other way to install the extension. I suppose if you know which register keys to create you can do that, but I don't know the procedure.
By the way, the list of extensions in the VS 2013 About box on your screenshot does not fit the window, a couple last items are invisible. So I can't conclude that cppcheck add-in is not already installe

[2015-01-13 07:51] dreieier commented on #102
Now that the filter is <code>^juce_.*\\.\*$</code> I see only .h files.

[2015-01-13 07:52] SanderBouwhuis commented on #103
The list of extensions also include:
Release Management for Visual Studio
Visual Assist
Windows Phone 8.1 SDK Interation 1.0

It's a shame the plugin doesn't work.

[2015-01-13 07:53] VioletGiraffe commented on #102
Aha! You can't get rid of messages from `juce_*.h` files just like that. Why? Because they are included into _your_ .cpp files, either directly or through other headers.

[2015-01-13 07:57] dreieier commented on #102
Yes, exactly. Should the filter supress these?

[2015-01-13 07:58] VioletGiraffe commented on #102
No, that's the point, it should not. This filter, the one you've been asking about so far, filters the files that `cppcheck` will or will not be run on.

[2015-01-13 08:21] dreieier commented on #102
Ok, I missed that point. My understanding was the filter would supress any matching files, regardless how they come in scope.<br>
Is it possible to apply a filter in that way? Checking all the headers on every run is time consuming and also I don't want to touch the library to fix what cppcheck is reporting.<br>
I tried -iD:\Dev\C++\Lib\juce in the command line, with no sucess.

[2015-01-13 08:26] VioletGiraffe commented on #102
Again: it does not check the headers, it checks your cpp files. You should suppress any warnings from juce headers, but you can't avoid getting those warnings in the first place.

[2015-01-29 15:33] Dmitry-Me opened #107 "Why is guids.h mentioned in code comments?"
Guids.cs starts like this:

    // Guids.cs
    // MUST match guids.h
    using System;

I don't see guids.h anywhere in the project. Does it exist? What does this comment mean?

[2015-01-29 16:05] VioletGiraffe commented on #107
No idea, that must be automatically generated code.

[2015-01-30 10:43] VioletGiraffe opened #109 "Can't install the VSIX anymore"
When I run the VSIX on my main working computer, I get an error:

` Install Error : Microsoft.VisualStudio.ExtensionManager.MissingTargetFrameworkException: The extension 'cppcheck add-in' requires a version of the .NET Framework that is not installed.`

This is a VSIX built with VS 2013. At the same time, if I open the solution in VS 2013 and launch debug, debugging works fine.

Thoughts?

[2015-01-30 10:49] VioletGiraffe commented on #109
Same thing with VSIX built in VS 2012.

[2015-01-30 10:52] Dmitry-Me commented on #109
Where do I get the VSIX?

[2015-01-30 10:54] VioletGiraffe commented on #109
bin/Debug/CppcheckPlugin.vsix

[2015-01-30 11:24] Dmitry-Me commented on #109
I cannot reproduce the problem. Do you have an idea of when it appeared for the first time? Maybe there's a specific commit such that it doesn't occur before that commit?

[2015-01-30 11:29] VioletGiraffe commented on #109
It happened before the last time I committed and today, and the problem is not with the source code - I've reverted back to where it certainly worked, and still got the same error. It's something in my environment. I just thought you might know what could cause it.

[2015-01-30 12:01] Dmitry-Me commented on #109
Not a slightest idea.

[2015-02-06 10:36] Dmitry-Me opened #117 "Cannot check projects located on UNC paths"
The problem is because of `cleanPath()` function which violently removes all the leading backslashes and a neat `\\machine\path` turns into `machine\path`.

I'm not sure how to deal with this. Why are leading backslashes removed in the first place?

[2015-02-06 11:16] VioletGiraffe commented on #117
Don't know. I've set a breakpoint in that line, run a couple tests and never hit the breakpoint. But, apparently, I did need it in the past. Possibly for relative paths? Combining a base path and relative path into a new absolute one?..

[2015-02-06 12:05] VioletGiraffe commented on #117
It could be that removing leading backslashes is no longer necessary since I started using API functions for managing paths, rather than mechanically concatenating strings.

[2015-02-11 09:42] halex2005 commented on #109
Today I decide to install VSIX v1.2.1 and I have similar problem.
I tryed to install v1.2.1, v1.2.0, v1.1.0 but every time error was same - `The extension 'cppcheck add-in' requires a version of the .NET Framework that is not installed`.

I think it is not source code bug, but Visual Studio. I installed Visual Studio CTP5 two weeks ago and found some problems with my OS since then like hangs on cr

[2015-02-11 10:05] VioletGiraffe commented on #109
It's definitely not a source code bug or VSIX file bug. It's a bug in our local environment.

[2015-02-16 13:53] Dmitry-Me commented on #117
It's a bit harder than I expected. Not only the add-in but also Cppheck treat UNC paths incorrectly - Cppcheck outputs `\\magic\path` as `\magic\path`. I guess it's worth waiting until a new release of Cppcheck appears where this is resolved.

[2015-02-16 14:08] VioletGiraffe commented on #117
Do you have a reason to believe this will be resolved in the new release?

[2015-02-16 14:12] Dmitry-Me commented on #117
Yes, I've submitted one PR which was merged and then another with further fixes that is pending.

[2015-04-02 09:29] Dmitry-Me opened #132 "What's the deal with suppression HashSets?"
`SuppressionsSettings.SaveClick()` simply copies a reference:

    suppressionsInfo.SuppressionLines = CppcheckLines.Items;
    while(suppressionsInfo.SuppressionLines.Remove("")){};

so now CppcheckLines.Items and suppressionsInfo.SuppressionLines both have the same filtered set.

Is that how it should be? Shouldn't the set be detached from where it was or perhaps deep copied?

[2015-04-02 11:18] Dmitry-Me commented on #132
Actually the property getter crafts a new object, so there's no need for deep copy. I submitted https://github.com/VioletGiraffe/cppcheck-vs-addin/pull/133 which I hope makes the code a bit simpler.

[2015-04-07 20:58] stbrowne commented on #43
On a related note I find it annoying that it switches me to the cppcheck output window so frequently. Perhaps an option to never switch to the output window and/or an option to only switch to the window when the check is complete and there is output.

I have visual studio set to switch to the output window on compile so it will switch to that then if a message comes up in cppcheck it will switch t

[2015-04-17 13:20] VioletGiraffe opened #134 "Visual Studio 2015: pressing Ctrl+S while the check is running triggers the "Save As" dialog"
Looks like VS is thinking the file is busy or inaccessible and offers to save it under a different name instead. Odd.

[2015-04-17 13:21] #132 closed

[2015-04-28 20:36] gkelly-si opened #135 "failure to run analysis if arguments string is too long"
I don't really know what is too long - this seems to suggest 8192 or 32767: http://blogs.msdn.com/b/oldnewthing/archive/2003/12/10/56028.aspx

But what I am seeing is that if I have a large project and have quite a deep structure then the length of the command string is too long and will raise an error:

    Exception occurred in cppcheck add-in: System.ComponentModel.Win32Exception (0x80004005):

[2015-04-28 20:54] VioletGiraffe commented on #135
Yeah, I suspected it'd happen sooner or later... It is indeed a design flaw.

[2015-04-29 12:27] gkelly-si commented on #135
I had a look at the cppcheck help documentation, it allows a --file_list argument instead of getting the entire list as an argument. I guess maybe designed to work around this exact issue.

I've put together a change here that writes to a temp file and passes that instead, and it's happily scanning my entire project now. I'll fork and submit a pull request shortly.

[2015-04-29 12:33] VioletGiraffe commented on #135
Nice! Please do submit it.

[2015-05-29 06:53] #135 closed

[2015-05-29 06:53] #109 closed

[2015-05-29 06:53] #107 closed

[2015-05-29 06:54] #103 closed

[2015-05-29 06:54] VioletGiraffe commented on #102
Closing as not an issue.

[2015-05-29 06:54] #102 closed

[2015-05-29 06:55] VioletGiraffe commented on #99
Fixed in a484b0f9056f951c735de4ad5e68b564749893e7.

[2015-05-29 06:55] #99 closed

[2015-05-29 06:56] #93 closed

[2015-05-29 06:56] #89 closed

[2015-05-29 06:57] #87 closed

[2015-05-29 06:57] #86 closed

[2015-05-29 07:05] #80 closed

[2015-05-29 07:06] #61 closed

[2015-05-29 07:09] VioletGiraffe commented on #54
There is now an option to check multiple projects (select them, right-click and choose to "cppcheck current projects").

[2015-05-29 07:09] #54 closed

[2015-06-01 02:04] johnsietsma opened #138 "Plugin fails to load after installation"
I installed the CppCheck plugin in Visual Studio 2013. And when opening a project I get a message box that says "The 'CPPCheckPluginPackage' did not load correctly.

The ActivityLog.xml files has the error message:
"Could not load file or assembly 'Microsoft.VisualStudio.Shell.11.0, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot fi

[2015-06-01 05:37] VioletGiraffe commented on #138
I get the same at home, where I don't have the VS SDK and only have VS 2013. I'll look into it tomorrow.

[2015-06-01 09:27] Dmitry-Me commented on #138
Dunno if that's related, but the project currently references `Microsoft.VisualStudio.Shell.X.0` with X being 8, 9, 10 and 11 but not 12. I would guess that adding such reference could magically solve the problem.

[2015-06-01 09:41] VioletGiraffe commented on #138
The better question is, when did it get broken.

[2015-06-02 05:15] notoes commented on #138
Well thanks for taking a look. It does sound like it needs the reference to
12. I'm happy to test a build for you if you like.

On 1 June 2015 at 19:41, Violet Giraffe <notifications@github.com> wrote:

[2015-06-02 09:17] VioletGiraffe commented on #138
I've uploaded a new release, 1.3.1. Please give it a try: https://github.com/VioletGiraffe/cppcheck-vs-addin/releases/tag/1.3.1.0

[2015-06-02 12:48] rob100 commented on #138
Hi,
I had the same problem, so I tried your new 1.3.1 release with no success. Then I tried to reproduce the problem in the debugger with your current master/head and the problem does not occurred. Is it possible, that the uploaded CppcheckPlugin.vsix from your link is not the newest one?

[2015-06-02 12:57] VioletGiraffe commented on #138
No, I've double-checked, it's the same.

[2015-06-02 13:02] VioletGiraffe commented on #138
The error message mentions `Microsoft.VisualStudio.Shell` reference, but there is no such reference in the module's assemblies. The only such extension available in the list is `Microsoft.VisualStudio.Shell.12.0`, there's no 11.0 or just universal `Shell` with no version number.

[2015-06-02 13:10] VioletGiraffe commented on #138
Try this VSIX: http://rghost.net/8XkG8wdqs
It should solve the problem, but break compatibility with VS 2013 and 2015.

[2015-06-02 23:11] notoes commented on #138
That works for me. I could install and use the add-in without any issues,

Thanks!

On 2 June 2015 at 23:11, Violet Giraffe <notifications@github.com> wrote:

[2015-06-03 04:47] VioletGiraffe commented on #138
Okay, so that was it.

[2015-06-08 09:00] manuelh commented on #138
I'm experiencing the same issue with VS2013 and the latest version I got from here: https://github.com/VioletGiraffe/cppcheck-vs-addin/releases/tag/1.3.1.0

[2015-06-16 09:56] VioletGiraffe opened #139 "Cppcheck tool window: add an ON - OFF switch for checking files upon save"

[2015-06-26 12:07] mkurdej commented on #109
Actually the problem comes from the fact that VS 2015 CTP / RC comes with .NET 4.6 RC and so .NET 4.5 is no more seen by VSIX.
The solution is to:
1. handle both 4.5 and 4.6 [as it will be soon necessary anyway if targeting VS 2015/Win10], or
2. uninstall .NET 4.6 if possible (or uninstall Windows Update KB3033094/KB3033095).

[2015-06-30 08:33] VioletGiraffe opened #141 "Build error: "Extension '127d8bd3-8cd7-491a-9a63-9b4e89118da9' could not be found""
I'm getting an error when trying to build the latest version from the repository:

`127d8bd3-8cd7-491a-9a63-9b4e89118da9` is, of course, the GUID of cppcheck-vs-addin. No idea what this means and how to fix it.

[2015-07-01 05:48] wwarriner opened #142 "CPPCheckPluginPackage did not load correctly: VS2013"
The following error occurs while trying to load the plugin following installation:
![untitled](https://cloud.githubusercontent.com/assets/6930772/8448314/78909c50-1f8b-11e5-830e-18cb9d3747e7.PNG)

In the activity log is:

[code]

Where I noted the use of `*.Shell.11.0`

Going into the extension folder and changing the following entry in "extension.vsixmanifest"

[code]

manually to replace 11.0 wi

[2015-07-01 06:41] VioletGiraffe commented on #142
I believe this edit (replacing 11.0 with 12.0) will break VS 2012 support. Other than that, I don't understand _anything_ here.

[2015-07-02 08:58] Dmitry-Me commented on #142
How about using a range for "version" as in this change https://github.com/mkurdej/cppcheck-vs-addin/commit/38c36a690dd1bfb5df7bbb033b3af9c6e990249e ?

[2015-07-02 10:27] VioletGiraffe commented on #142
As long as it works, feel free to edit everything :)

[2015-08-26 09:23] SanderBouwhuis commented on #142
I'm having this problem as well.
Does anyone have an update where this is fixed? (I don't have C# and never created a plugin)

@VioletGiraffe
What do you mean with "I've lost all ability to work on this project"?

[2015-08-26 18:39] VioletGiraffe commented on #142
@SanderBouwhuis : getting a build error, see #141

[2015-09-06 16:48] FelixBer commented on #142
I just hit this error after upgrading from version 1.2.1 to 1.3.1.

The error occurs with 1.3 and 1.3.1, but not with 1.2.1. Reverting to 1.2.1 for now.

[2015-09-06 19:01] VioletGiraffe commented on #142
@FelixBer: it's fixed already, just need someone to rebuild the .vsix because I can't.

[2015-09-08 08:55] SanderBouwhuis commented on #142
@FelixBer
So, if I use v1.2.1 it will work with VS2013?

[2015-09-11 19:43] francispauli commented on #142
i had the same error as <b>warriner</b>  in VS2013 but got up and running with  v1.2.1

[2015-09-24 10:38] altumano commented on #142
So, the latest release 1.3.1.0 is still not working with Visual Studio 2013.
Is there any plan to release a fix?

[2015-09-24 10:49] VioletGiraffe commented on #142
I'd be happy to, as soon as someone helps me solve the problem with building the project.

[2015-09-24 10:50] VioletGiraffe commented on #142
@altumano : I'd be happy to, as soon as someone helps me solve the problem with building the project.

[2015-09-25 08:24] FelixBer commented on #142
I can build it at work later but my release build is only half the size of previous releases. Were you uploading debug builds or am I missing something in the build process?

[2015-09-25 09:24] VioletGiraffe commented on #142
@FelixBer : There's nothing to miss. I don't think I'd upload a debug build, but it's not impossible.
It'd be great if I could build the project myself, too...

[2015-09-25 12:15] SanderBouwhuis commented on #142
Yay for FelixBer.

[2015-09-25 13:06] FelixBer commented on #142
Here we go:

built from 486b1593cb4318f9d23f7e7a159373caf377a656
tested with cppcheck 1.69 x86

http://rghost.net/6HmGcFFZc

I only tested it very briefly by scanning some projects with cppcheck 1.69 x86 and Visual Studio 2013.

Would be great if someone else could test it too.

[2015-09-25 13:13] VioletGiraffe commented on #142
I see you didn't increment the version number. That's bad because then you can't update without uninstalling the extension first.

[2015-09-25 13:53] FelixBer commented on #142
Fixed. I built from a clean checkout and forgot to bump the version number. I can only send you a pull req for it later though.

[2015-09-27 06:44] SanderBouwhuis commented on #142
@FelixBer
Unfortunately, it doesn't seem to work. The installation proceeds correctly, but in VS2013 I don't have any CppCheck menu items.

[2015-09-27 11:53] FelixBer commented on #142
That's odd. Did you restart VS? Try going to tools->updates and extensions and uninstall it if its there. Then close down all VS instances and install it again. Then start VS.

I just tried it again in various constellations and settings and it works for me.

Two questions: Does anything show up in tools->updates and extensions? Does it work with version 1.3.1, the latest official release?

I'll o

[2015-09-28 09:33] SanderBouwhuis commented on #142
CppCheck is in Tools/Extensions and updates.

Just to make sure, should there be a new menu for CppCheck in the UI where I can change some settings? Because I don't have that.

[2015-09-28 11:29] FelixBer commented on #142
No, there should bee two menu items under the "Tools" menu.

Tools -> check current project with cppcheck
Tools -> cppcheck settings

[2015-09-28 12:47] SanderBouwhuis commented on #142
Aaaaah, shoot! Ok, in that case, it works.

Mea culpa.

[2015-10-01 15:08] adm1961 commented on #142
I've just installed the current version into VS2013 and although the menu entries are there, when clicked they don't do anything. I can run cppcheck fine from the command line though. Any ideas?

[2015-10-01 15:09] adm1961 commented on #142
I did have to use nuget to get the shell.11 file though - is it worth changing the shell version to 12 as detailed above or shouldn't that be needed?

[2015-10-01 15:52] FelixBer commented on #142
Make sure cppcheck 1.69 x86 is installed. You should also get an error message, either a messagebox or in the output pane or the cppcheck panel.

[2015-10-01 16:24] VioletGiraffe commented on #142
`C:\Program Files\Cppcheck\cppcheck.exe has exited with code -1073741515`
Don't know what's wrong. Can't debug because of #141.

[2015-10-01 21:48] wwarriner commented on #142
The same (or similar) is now happening in VS2015, and the change may be more complex. I haven't figured out totally how to fix it, and may not figure it out. There may be changes to dependency structure.

[2015-10-02 06:07] SanderBouwhuis commented on #142
Maybe we can ask someone from Microsoft?

[2015-10-02 07:04] VioletGiraffe commented on #142
We can ask on MSDN forums (https://social.msdn.microsoft.com/Forums/en-US/home?forum=vsx).

[2015-10-19 05:07] drwbns opened #144 "Can't check for unused functions"
Looks like the -j command is hard coded so cppcheck can't check for unused functions

[2015-10-19 09:27] VioletGiraffe commented on #144
It should be easy to move `-j` to the customizable part of the command line.

[2015-11-17 18:12] willll commented on #142
I have the same issue with VS2012 premium and the latest release 1.3.1.0 :

    Could not load file or assembly 'Microsoft.VisualStudio.Shell.11.0, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified

[2015-11-18 10:46] VioletGiraffe commented on #142
Try this one: https://drive.google.com/file/d/0B8Qc2atC6FVKc1RMb25XbkJENFk/view?usp=sharing

[2015-11-22 19:10] VioletGiraffe commented on #142
Try the new release, this issue _should_ be fixed there.

[2016-01-22 09:01] bugparty commented on #138
I am using Visual Studio 2012 update 5,
I also have this problem,the log is:
Could not load file or assembly 'Microsoft.VisualStudio.Shell.11.0, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

[2016-01-22 15:58] BrunoMartinGym commented on #142
I also tried to install the 1.3.2 release on VS2013 with update 5 and I get the same error message (albeith in French!):
[code]

Here are extracts of my VS2013 Activity log (showing the error) and plugin installation log (which worked correctly).  Hope this can help solve the problem because I would really like to try CppCheck in VS!

[ActivityLog.txt](https://github.com/VioletGiraffe/cppcheck-vs-

[2016-01-24 21:32] VioletGiraffe commented on #142
It worked fine for me on a fresh machine just a month ago, both on VS2015 and 2013.

[2016-01-24 21:42] VioletGiraffe commented on #138
Works for me (VS 2013 Update 4)!

[2016-01-25 14:02] BrunoMartinGym commented on #142
Hello,
Here is the info about my Visual Studio 2013 installation.  I have the Update 5 installed as well as many third parties plugin (Qt, Image Watch, NVidia stuff, AQtime, Visual Assist, Visual Hg).  Are any of them known to interact badly with your plugin?

[code]

[2016-01-25 18:51] VioletGiraffe commented on #142
@BrunoMartinGym : I have no such knowledge.

[2016-01-25 22:43] Vitaliy-Grigoriev commented on #142
@BrunoMartinGym : I also have Visual Assist plug-in and I have the bug with incorrect loading CPPCheckPluginPackage. Possible, Visual Assist causes this error.

[2016-01-26 05:43] VioletGiraffe commented on #142
@Vitaliy-Grigoriev : I have Visual Assist and no bugs.

[2016-01-27 05:14] bugparty commented on #142
@BrunoMartinGym  @willll try my release http://rghost.net/75VTbBNgg

[2016-01-27 19:50] BrunoMartinGym commented on #142
Hello Bugparty,

Thanks for the patch.  I uninstalled the CppCheck I had and installed your release.  I no longer get the error while starting VS and the analysis works!

Regards!

[2016-01-27 20:01] VioletGiraffe commented on #142
Great, thanks for the conformation. I will update the release tomorrow, if I don't forget to.

[2016-02-17 10:27] fjautard commented on #142
Dear All,

Thank for this very promising add-in.
I'm new in this forum.
I installed cppcheck 1.72 and the plugin in VS213 SP4. I loaded one C++ project, clicked on "TOOLS/Check current project with cppcheck": cppcheck analysis completed and the Cppcheck analysis results window is displayed.
But this window is totally empty, even if the standalone cppcheck finds some issues in this project.

What i

[2016-02-19 09:54] oskarwaglund commented on #142
@fjautard, @VioletGiraffe
Hi,

I am having the exact same problem. Downloaded the add-in from http://rghost.net/75VTbBNgg and then the 32-bit version of 1.72. When I run the analysis in VS13 the results window is completely empty although there should be a million issues due to the code being old and badly maintained.

If I run the GUI application on my SRC folder with 87 files I get zero issues a

[2016-02-19 10:00] VioletGiraffe commented on #142
@fjautard @oskarwaglund  I have similar problem on both home and office PC after the latest cppcheck update. So far I don't understand what the problem is.

[2016-02-19 11:28] fjautard commented on #142
@VioletGiraffe, @oskarwaglund
Thanks for your reply.
I redo the same on a freshly installed Windows 10 machine. I installed VS2015 redistributable files.
Everything is already.
I will investigate on my Win7 PC and send feedbacks (vcredist issue !?).

[2016-02-19 12:52] oskarwaglund commented on #142
@fjautard, @VioletGiraffe
I tried copying my source files to a folder on ../desktop and running the GUI tool on that folder. All of a sudden it works! It seems that something in my project/solution is preventing the tool from reading the files or something. I tried some older versions as well and they behave in the same way.

It's not a solution to the problem but perhaps it can help you figure ou

[2016-02-19 13:46] #117 closed

[2016-03-04 11:33] fjautard opened #149 "Where options are saved ?"
Dear all,

I'm using CppCheck add-in and it is great tool. Thanx.

[QUESTION]
I'm looking for where options are saved.
I found project options but not cppcheck messages list: in Cppcheck settings, I click on "Display all cppcheck messages"; I uncheck information, portability and style.
Where are they stored ?
Is it in cppcheck settings, in ccpcheck add-in, in visual studio add-ins settings ?
Pleas

[2016-03-18 14:13] GrenMeera commented on #142
@VioletGiraffe
This is not working for several developers I know using VS2012 Premium and is the same output as described by @willll earlier using the latest release.

However, @bugparty 's release at http://rghost.net/75VTbBNgg seems to clear it right up.

At one point in my testing of different installations, I had to clear my extension cache out of the Visual Studio AppData folder on Windows 7

[2016-03-22 14:16] JuergenAStrauss opened #150 "Check Results are cached? - need 2nd SAVE to show correct results"
After changing source code and saving changes using Ctrl-S in Visual Studio, the cppCheck result page does not show correct content. A second SAVE action (Ctrl-S) is needed to bring up current results. This behavior is misleading / confusing to developers.

Example code:
`void test1() {    char *p = malloc(10);   char *q = malloc(10); }
`
After saving, the result page shows 2 errors (memory leak o

[2016-03-22 14:19] VioletGiraffe commented on #150
I've noticed this as well a couple times. There's no cache per se and it's definitely not the intended behavior.

[2016-03-24 12:40] thiessendg commented on #138
I just downloaded this VS add-in and it's still not working. I have a fairly vanilla VS 2013 Update 5 installed. Is there any way to get this to work?

Here is the relevant material from G:\Users\dthiessen\AppData\Roaming\Microsoft\VisualStudio\12.0\ActivityLog.xml

<entry>
    <record>909</record>
    <time>2016/03/24 12:29:38.526</time>
    <type>Warning</type>
    <source>VisualStudio</source>

[2016-03-24 13:22] #141 closed

[2016-03-24 13:26] VioletGiraffe commented on #138
Sorry, guys, my mistake. I was wondering how come **bugparty**'s fix didn't solve the problem for you (as it was supposed to), and then I realized I actually never released a fixed plugin! So please install the latest release, it should work fine: https://github.com/VioletGiraffe/cppcheck-vs-addin/releases/latest

[2016-03-24 13:29] VioletGiraffe commented on #142
@GrenMeera: the new 1.3.3 release fixes this error.

[2016-03-24 13:54] thiessendg commented on #138
Still doesn't work. Won't load. Here is the newest snip from the xml...

 <entry>
    <record>643</record>
    <time>2016/03/24 13:52:32.462</time>
    <type>Information</type>
    <source>VisualStudio</source>
    <description>Begin package load [CPPCheckPluginPackage]</description>
    <guid>{127D8BD3-8CD7-491A-9A63-9B4E89118DA9}</guid>
  </entry>
  <entry>
    <record>644</record>
    <time>201

[2016-03-24 13:57] thiessendg commented on #138
![capture](https://cloud.githubusercontent.com/assets/18050738/14018969/689f2484-f19e-11e5-831a-140af060841b.PNG)

[2016-03-24 14:01] VioletGiraffe commented on #138
I assume that's with the new version?

[2016-03-24 14:02] thiessendg commented on #138
Yes, newest version, still doesn't load.

[2016-03-24 14:04] thiessendg commented on #138
Seems like it is assuming I have VS 2012, not VS 2013 or 2015 from the Could not load file or assembly 'Microsoft.VisualStudio.Shell.11.0 lines in the xml... shrug...

[2016-03-24 14:07] VioletGiraffe commented on #138
Could be that the 11.0 version is hardcoded, when it shouldn't be. But the problem is that it works on both my PCs no problem with VS 2013 and 2015.

[2016-03-24 14:40] thiessendg commented on #138
That's weird.  I have VS 2015 on another machine, let me get to that and try it there.

[2016-03-24 14:52] thiessendg commented on #138
OK, weird... works fine on Win 10 / VS 2015... So, something is haywire with my Win 7 / VS 2013 platform... I will see what I can find.  Thanks!

[2016-03-24 18:26] GrenMeera commented on #142
@VioletGiraffe I just uninstalled the plugin, cleared my %Appdata Extension cache, restarted a fresh Visual Studio 2012, then closed it again so that I had a fully clean %Appdata Extension cache.

I then ran the 1.3.3 Release installer.  The bug is still present in Visual Studio 2012 on this release.

If I go through this entire process with bugparty's release, the error message is gone.

[2016-03-24 18:44] VioletGiraffe commented on #142
That suggests @bugparty didn't commit some of the important changes, IMO.

[2016-03-24 18:46] VioletGiraffe commented on #138
Note: this is a duplicate of #138

[2016-03-24 19:13] thiessendg commented on #138
I tried everything I could think of, including a "Repair" of VS 2013 and nothing worked. I finally said to heck with it and downloaded the zip from GitHub and "rebuilt" the plugin. The rebuilt plugin now works. No idea why that worked.

[2016-03-24 19:15] VioletGiraffe commented on #138
I have no doubt the problem is with the add-in rather than with VS.

[2016-03-25 02:33] bugparty commented on #138
the latest source has patched by me ,maybe you haven`t download the latest
build

On Fri, Mar 25, 2016 at 3:13 AM, thiessendg <notifications@github.com>
wrote:

[2016-03-25 02:36] bugparty commented on #142
oh, I am sure I have commit all the changes,maybe the compiler maters?I am
using visual studio 2012,so maybe the guys who are using visual studio 2012
could use my build

On Fri, Mar 25, 2016 at 2:44 AM, Violet Giraffe <notifications@github.com>
wrote:

[2016-03-25 08:26] VioletGiraffe commented on #138
I did `git pull` before building the release.

[2016-03-25 08:26] VioletGiraffe commented on #142
No idea... I used VS2015 to build the release.

[2016-03-25 09:03] bugparty commented on #142
I have both VS2015 and VS2012,I will build two relase later, Maybe We can
find some reasons

On Fri, Mar 25, 2016 at 4:26 PM, Violet Giraffe <notifications@github.com>
wrote:

[2016-03-25 12:44] GrenMeera commented on #142
@VioletGiraffe @bugparty Let me know if you need an additional testing bench as I have been able to reproduce this consistently.

[2016-04-12 12:34] lohengrin commented on #142
Since I have this problem for a long time, I was using the  @bugparty 's release without problem.
I Just installed the new 1.3.3 version and it does not solved this issue (same error message as before)
Going back to  @bugparty 's release works fine.
Using Visual Studio 2013 Update 5.

[2016-04-15 10:28] bugparty commented on #142
I checkout the latest master source code and build with vs2012 and 2015
build with vs2012
http://rghost.net/6DPj2MMYh
build with vs2015
http://rghost.net/7xBctbtwz

[2016-04-15 10:36] VioletGiraffe commented on #142
@bugparty
The latest release is built from the current master source. If your builds do work for people who have this issue, I suppose we'd have to look into your project settings or IDE settings that aren't in the repository.

[2016-04-15 11:17] bugparty commented on #142
it works for my vs2012 and vs2013,but I don`t have any settings different
from others

On Fri, Apr 15, 2016 at 6:36 PM, Violet Giraffe <notifications@github.com>
wrote:

[2016-04-15 12:05] lohengrin commented on #142
Yes, @bugparty version VS2012 and VS2015 works fine on my VS2013 Update 5 (the official version does not work).
The Extensions and Updates manager still display version 1.3.1 version (and not 1.3.3) with both. Is it normal ?

[2016-04-15 12:09] VioletGiraffe commented on #142
@bugparty  @lohengrin
No, that's not normal. The source code in the report is 1.3.3: https://github.com/VioletGiraffe/cppcheck-vs-addin/blob/master/CPPCheckPlugin/source.extension.vsixmanifest

It means that you didn't build the latest source. It might also mean there are some uncommited changes on bugparty's PC that fix this issue.

[2016-04-15 16:21] bugparty commented on #142
but I just clone a new copy on the master and build it

On Fri, Apr 15, 2016 at 8:09 PM, Violet Giraffe <notifications@github.com>
wrote:

[2016-04-15 16:32] VioletGiraffe commented on #142
But you can see that my link is correct, and the manifest says 1.3.3, right? Then how come your builds are 1.3.1?

[2016-04-15 19:42] bugparty commented on #142
sorry,I will double check it

On Sat, Apr 16, 2016 at 12:32 AM, Violet Giraffe <notifications@github.com>
wrote:

[2016-04-15 21:51] GrenMeera commented on #142
@bugparty
Both of your builds made in 2012 and 2015 work with my 2012 Professional.

I am also getting the same results as @lohengrin and my builds are listed as version 1.3.1 in my Extension manager.

Also oddly enough the plugins are listed as version 1.2.0 if you go to Help->About Microsoft Visual Studio

[2016-04-16 04:30] VioletGiraffe commented on #142
@GrenMeera
Yes, it does show 1.2.0 in About - clearly, that number is coming from a different place, possibly from the source code. That's not a concern in the context of this issue.
I have just double-checked that the latest release does indeed show up as 1.3.3 in "Extensions and updates".

[2016-05-18 13:51] calexiev commented on #138
Hello!
I had the same problem with the lates version on 64 bits. Could you please indicate the general solution?

[2016-08-18 11:26] frazzyfin opened #151 "Not working in Visual Studio 2013 Community Edition"
Plugin is installed.
Menu options appear in TOOLS.
Clicking either one does nothing.

[2016-08-18 18:36] VioletGiraffe commented on #151
I have the same issue on my home PC but am unable to debug it for technical reasons. And it doesn't occur on the machines where I can debug. So I'm puzzled for the moment.

[2016-08-19 05:04] VioletGiraffe commented on #151
Try this: http://www.nullskull.com/faq/1679/how-to-reset-all-settings-restore-toolbox-items-refresh-visual-studio.aspx

[2016-08-22 10:11] frazzyfin commented on #151
Unfortunately that didn't work. Still the same behaviour (or lack of behaviour)

[2016-08-22 10:17] VioletGiraffe commented on #151
That's odd because if I launch debug on the same machine in the same VS version, it works. Debug launches a clean "experimental" instance of Visual Studio, which is why I assumed reset would work, too.

[2016-08-22 10:22] frazzyfin commented on #151
How do you launch VS debug mode?

[2016-08-22 10:32] VioletGiraffe commented on #151
Install Visual Studio SDK, open this project and press F5.

[2016-09-16 14:52] christheenchanter commented on #142
Visual studio 2013 update 5 version# 12.0.40629.00. windows 10 pro 64-bit.
[ActivityLog.txt](https://github.com/VioletGiraffe/cppcheck-vs-addin/files/477091/ActivityLog.txt)

[2016-09-19 23:27] T-Jin commented on #142
Finally got it working!

I had exact same problem with @christheenchanter.
I'm only using VS2013 update 5 #12.0.40629.00 with win7 64-bit.

Clone the repo and build it on my machine solved the problem.

[2016-09-20 06:49] VioletGiraffe commented on #142
@T-Jin : could you attach your VSIX here so that other people with the same problem can try it out? I wonder if it only works when built on the same machine where it'll be used or not.

[2016-09-20 08:56] LinuxdevelopersOrg commented on #142
The one built by @bugparty on Mar 18 works on my machine with only VS2013. The official one does not. The official one did work in VS2013 when I had VS2015 installed, though (uninstalled it yesterday, and cppcheck stopped working).

[2016-09-20 09:02] VioletGiraffe commented on #142
What about this one?
[CppcheckPlugin.zip](https://github.com/VioletGiraffe/cppcheck-vs-addin/files/482037/CppcheckPlugin.zip)

[2016-09-20 09:17] LinuxdevelopersOrg commented on #142
@VioletGiraffe Sorry, did not work for me. I cloned and rebuilt this one, and this one works on my machine(tm) (after a rudimentary check-on-save quick test).

[CppcheckPlugin.zip](https://github.com/VioletGiraffe/cppcheck-vs-addin/files/482072/CppcheckPlugin.zip)

[2016-09-21 17:34] T-Jin commented on #142
@VioletGiraffe Here is my release build. It worked on my  win7 64-bit with only VS2013 installed.
[CppcheckPlugin.zip](https://github.com/VioletGiraffe/cppcheck-vs-addin/files/485656/CppcheckPlugin.zip)

[2016-09-23 08:57] johron opened #152 "Dark theme not entirely supported"
In Visual Studio 2015, the add-in is still displayed in bright white despite that the editor is set to 'dark-theme'.

[2016-09-23 08:59] VioletGiraffe commented on #152
Yes, I have researched this issue and there's no simple way to apply the VS theme. I'd have to manually apply all the colors and styles.
P. S. If anyone wants to contribute a fix for this problem - be my guest :)

[2016-09-23 09:10] tekesh commented on #152
Thanks for the quick reply :)

Where would the colors be applied? I was thinking i might look into it if i
get some time to spare for this.

No promises, but i'd love to fix it if i can figure out how.

//Johan

On Fri, Sep 23, 2016 at 10:59 AM, Violet Giraffe <notifications@github.com>
wrote:

[2016-09-23 09:15] VioletGiraffe commented on #152
I didn't get that far as to know _how_ it's done, so Google it is, I guess. I was thinking there would be a magic flag / attribute "make this window use the current VS theme", but no. I did not look further once I found out there's no easy way.

[2016-09-29 10:59] VioletGiraffe opened #153 "UWP projects cannot be checked"

[2016-10-04 06:37] MikelLuri commented on #142
My cppcheckplugin didn't work. I've tried with the build by @T-Jin and now it works. I also have win7 x64 and only VS2013 installed.

[2016-10-24 08:43] SeA75 opened #154 "Analysis results click on rows not reach the file"
When the analysis is terminated and the results are available it would be very convenient if the click behaviour on file name will be supported (VS2015 Update 3 used) and the file is displayed on VS IDE.

[2016-10-24 09:23] VioletGiraffe commented on #154
Double-click anywhere on an item (line) in the results window does just that.

[2016-10-24 12:00] SeA75 commented on #154
Doesn't work for all items...may be only for project items....but also for project items in same cases does'n work.

[2016-11-11 11:46] VioletGiraffe commented on #152
Partially implemented. You can refer to the commit to see how it's done.
Missing parts:
* item hover cursor;
* row / column separator lines;
* resizing a column also triggers a wrong color.

[2016-12-08 10:02] VioletGiraffe opened #156 "C++ projects are not identified as such when running in VS 2017 RC"
The plugin fails in VS 2017 RC because the following line in `isVisualCppProject()` always returns `null`:
```projectObjectType.GetInterface("Microsoft.VisualStudio.VCProjectEngine.VCProject");```

[2016-12-15 10:54] RomanKhv commented on #154
+1. Doesn't work for *.h

[2017-01-09 18:52] VioletGiraffe commented on #156
Suggested solutions: http://stackoverflow.com/questions/41180351/how-to-determine-whether-or-not-envdte-project-object-represents-a-c-c-project

[2017-01-09 20:46] Dmitry-Me commented on #156
What interfaces are there when you invoke `Type.GetInterfaces()`?

[2017-01-09 21:04] VioletGiraffe commented on #156
I'll tell you tomorrow (unless I forget) - don't have 2017 on the home PC yet.
I started working on the fix, but it turned out to be very difficult (tedious) to implement because _someone_ (I don't mean you - I don't know who written that piece of code, and I don't want to know) used `dynamic` and `object` types a lot for passing the project instance around, and they even mean different types in d

[2017-01-09 21:54] Dmitry-Me commented on #156
Most likely that someone was me. Yes, I agree that having strong typing is good but it all started because different versions of Visual Studio use identical yet formally different sets of interfaces and so having a plugin which supports all of them requires either duc typing or a lot of thunk assemblies and a whole set of Visual Studio SDKs  (and Visual Studios too) to build the project.

[2017-01-09 22:08] VioletGiraffe commented on #156
Hmm. Sorry, I wasn't aware of that problem.

[2017-01-09 22:12] Dmitry-Me commented on #156
Here it is https://github.com/VioletGiraffe/cppcheck-vs-addin/pull/12

[2017-01-10 05:54] VioletGiraffe commented on #156
Right... So I can't just use the `Project` type?

[2017-01-10 12:53] Dmitry-Me commented on #156
If it's part of version-specific assembly - no, you cannot make use of it for strong typing. That's why there's `dynamic`.

[2017-01-10 16:08] andrei-dragusanu commented on #142
On Visual Studio 2012/Windows 7 64bit it is also not working (realease 1.3.3):
![image](https://cloud.githubusercontent.com/assets/17052614/21813551/56020d94-d75f-11e6-82bb-d0aa3a47ab41.png)
[code]

[2017-02-01 09:25] x29a opened #157 "Running a check results in "Sequence contains no elements""
Hi, on Windows 7 64bit, SP1, Visual Studio 2015, 2013 and 2010 installed.

cppcheck-vs-addin version is 1.3.3.

I open a solution, set a startup project, then click Tools -> "Check current project with cppcheck" and i get an error message Box with title "Microsoft Visual Studio" and text "Sequence contains no elements", in both, VS 2013 and VS 2015.

![cppcheck_vs_addin](https://cloud.githubuserco

[2017-02-01 13:48] Dmitry-Me commented on #157
Does the project contain and .cpp or .c files?

[2017-02-01 15:02] Dmitry-Me commented on #157
This change should get you a meaningful message instead https://github.com/VioletGiraffe/cppcheck-vs-addin/commit/ce2c5aa73eadb60f923cb148e684501a29ba9181

[2017-02-02 13:43] x29a commented on #157
Thanks for your feedback,

yes the projects contain source (.cpp) and header (.h) files, but sorted under filters (kind of logical folders). I compiled master and re-enabled your change (you reverted it with [4d3af3a4c7da88a7a8264ef4de0d5062f53895a1](https://github.com/VioletGiraffe/cppcheck-vs-addin/commit/4d3af3a4c7da88a7a8264ef4de0d5062f53895a1)) and it is indeed complaining that no suitable fi

[2017-02-02 13:45] VioletGiraffe commented on #157
I  have never tested it on a project with filters, maybe the plugin doesn't iterate them properly?

[2017-02-02 14:52] x29a commented on #157
It does not seem to be the filter, since when moving some files directly under the project, the error is still the same. Its strange, since others seem to use the addin with VS2015 and no problems.

How would i debug it? When running the solution in VS2015 and setting the Debug option to "Start external program" and select the 14.0 devenv (according to [REAMDE.md](https://github.com/VioletGiraffe/

[2017-02-02 15:05] x29a commented on #157
I noticed it has to do with one of my property sheets, so it might be related to issue #73. Debugging hints still appreciated.

[2017-02-04 10:33] #157 closed

[2017-03-29 12:21] cdemez opened #161 "VS-Addin : Visual Studio 2017 Community : unable to install"
Hi,

I cannot install the VS Add in for VS 2017 community. It seems expected ?

I join the log:

`29/03/2017 13:49:06 - Microsoft VSIX Installer
29/03/2017 13:49:06 - -------------------------------------------
29/03/2017 13:49:06 - vsixinstaller.exe version:
29/03/2017 13:49:06 - 15.0.26228.9 built by: D15RTWSVC
29/03/2017 13:49:06 - -------------------------------------------
29/03/2017 13:49:06

[2017-03-29 12:34] VioletGiraffe commented on #161
I never tried installing it. It did run in 2017 RC when I launched a debugging session, but it didn't work (and still doesn't, for all I know): https://github.com/VioletGiraffe/cppcheck-vs-addin/issues/156

[2017-03-29 12:44] cdemez commented on #161
Thanks for the confirmation,

But here I talk about the installation vsix file, FYI.

So, waiting for a fix ;-)

[2017-03-29 12:46] VioletGiraffe commented on #161
I understand that! As I said, I never even tried installing it because there's no point (it won't work). But I'll look into it as soon as I have time.

[2017-03-31 09:50] bhadreshdesai opened #162 "Check files after save should show results from current file only"
It will be a good enhancement to show cppcheck results from the currently saved file only when Check files after save option is selected. This will also increase save performance on large projects.
This can be done by ignoring includes when analysisOnSavedFile is true in getCPPCheckArgs

[2017-03-31 10:17] VioletGiraffe commented on #162
Checking C++ code without parsing includes is generally useless, in my opinion. Yes, it will be faster, but you'll be checking invalid code with unknown symbols for classes included from elsewhere.

[2017-03-31 10:52] bhadreshdesai commented on #162
I provided one possible solution. Other alternative is to filter the results for current file only. One or both options can be offered to the user in settings.
When running the check on a project/solution I agree we must have all the includes. But when saving a file I want it to be very quick and show errors from the current files only.

[2017-03-31 18:51] bhadreshdesai commented on #162
I have fixed this locally and is working as expected for me. If you want I can send you my code. I checked the documentation for cppcheck and most of the checks will work without inclusion of headers. For e.g. Uninitialized variables, UnusedVar checks etc.
This is a good compromise for me where I have 500+ projects in my solution and save was taking a bit longer. Also it was returning lots of erro

[2017-03-31 19:20] VioletGiraffe commented on #162
1. Excluding messages from other files, if you can commit it separately - please go ahead.
2. Not using include paths is something I would like to see as an option, not an always-on feature. Can you do that?

[2017-04-04 07:37] bhadreshdesai commented on #162
I will work on 2. to start with. Will create an option where user can select if they would like to exclude the include path. This is my first OSS contribution to I will need help with the contribution process.

[2017-06-05 18:41] Voskrese opened #164 "Microsoft.Common.CurrentVersion.targets(724,5): error"
msbuild "CPPCheckPlugin.sln" /p:Configuration=Debug;Platform="Any CPU";PlatformToolset=v140;VisualStudioVersion=14.0 /target:ReBuild /consoleloggerparameters:Verbosity=minimal /p:TargetPlatformVersion=10.0.10240.0

редактируем
[code]
было
[code]
стало
[code]

ок

[2017-06-05 18:48] VioletGiraffe commented on #164
Interesting, thank you. You don't want to create a pull request, I take it?

[2017-06-05 19:45] Voskrese commented on #164
hmm...
[code]
[https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-migrate-extensibility-projects-to-visual-studio-2017](url)
build ok

[2017-06-05 19:52] VioletGiraffe commented on #164
Do you think language is essential here? Can you specify "*" instead?

[2017-06-05 19:56] Voskrese commented on #164
просто эксперимент ;)

[2017-07-01 15:06] drillsar commented on #161
I am guessing this isn't fixed yet

[2017-07-01 18:41] VioletGiraffe commented on #161
No. I've figured out the problem the problem, I just need to sit down and implement a fix. It involves replacing bad code with other bad code, so I'm not looking forward to that.

[2017-07-10 18:56] VioletGiraffe commented on #161
@drillsar
This is probably fixed by my today's commit, but that's hardly relevant for you because the extension still doesn't function in VS 2017 because of #156.

[2017-07-10 18:56] #161 closed

[2017-07-11 18:41] #164 closed

[2017-07-13 21:43] meragrin commented on #156
If the fast project loading experimental is disabled, it works.

https://stackoverflow.com/questions/43321647/iterating-vcfilter-tree-in-visual-studio-2017
https://blogs.msdn.microsoft.com/vcblog/2016/10/05/faster-c-solution-load-with-vs-15/

[2017-07-14 05:25] VioletGiraffe commented on #156
Interesting, thanks. Still, I believe that the proposed changes to the code should allow the add-in to circumvent this issue.

[2017-08-14 14:46] BrunoMartinGym opened #166 "In Visual Studio 2015 Community edition, gets "cannot perform check no valid configuration selected" error"
I use Visual Studio 2015 Community edition.

I installed the last CppCheck version 1.80 on my machine, and the last plugin 1.3.3 and I always get the following error:

"cannot perform check no valid configuration selected"

Does anybody know a workaround?  Must I place some configuration file somewhere?

[2017-08-14 16:49] VioletGiraffe commented on #166
No, it's not a configuration file, it refers to the C++ build configuration in Visual Studio, I believe.

[2017-09-04 23:32] janwilmans opened #167 "Please release a 2017-preview compatible version"
tried to install 1.3.3 -> does not support vs2017 yet.
I do see commits to fix this, but was unable to build the sources in vs2017 :)

After fixing the references and re-targetting to .net platform 4.6.2, I ended up with

C:\Program Files (x86)\Microsoft Visual Studio\Preview\Community\MSBuild\Microsoft\VisualStudio\v15.0\VSSDK\Microsoft.VsSDK.targets(99,5): error VSSDK1078: The VSIX manifest must

[2017-09-05 05:09] VioletGiraffe commented on #167
Odd, I thought I fixed this. Perhaps, I forgot to commit something, will check when I get to the office where I have the latest version. It does build in 2017 and install into 2017 for me.

Problem is, the plugin is currently unusable in 2017 because of #156

[2017-09-05 07:52] janwilmans commented on #167
Ok, thanks for the swift response. In the coming three weeks I'm very busy, but if the projects builds/installs in vs2017 and the problem persists when I'm back I'm willing to look into it myself, I'll check back in a while

[2017-09-05 07:54] VioletGiraffe commented on #167
Gotcha. Maybe I'll finally get around to fixing it myself. I more or less know how to do it, but it's tedious.

[2017-09-12 12:36] VioletGiraffe commented on #167
Weird, but I am building the revision from master with and for VS 2017 no problem. I don't know why it doesn't work for you.

[2017-09-12 14:02] janwilmans commented on #167
Maybe I did something wrong, or it might be a vs2017 preview specific problem (i'm using the preview edition). I will re-test.

[2017-09-12 15:19] VioletGiraffe commented on #167
I'm using the latest final update.

[2017-09-12 19:25] janwilmans commented on #167
I see, well, I get this:
1>------ Build started: Project: CPPCheckPlugin, Configuration: Debug Any CPU ------
1>C:\Program Files (x86)\Microsoft Visual Studio\Preview\Community\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(1987,5): warning MSB3275: The primary reference "Microsoft.VisualStudio.Shell.Immutable.10.0" could not be resolved because it has an indirect dependency on the assem

[2017-09-12 19:33] VioletGiraffe commented on #167
I _think_ the project targets VS 2015 SDK, so you need to have that SDK installed.

[2017-09-13 20:47] Altrue commented on #167
Here is what solved it for me (Windows 7, Visual Studio 2017) : in source.extension.vsixmanifest, add a Prerequisite to "Visual Studio core editor". The version range for me that was automatically filled was [15.0.26606.0,16.0)

[2017-09-13 20:52] VioletGiraffe commented on #167
@Altrue : can you please change the lower version of that prerequisite from 15 to 14 or 13 (the lowest that won't cause build issues), and make a pull request?

[2017-09-13 21:41] Altrue commented on #167
I actually don't think that it worked :(

I did build and install properly, but once I try to scan anything it never reports any error or does anything. And my projects apparently aren't "C++ projects" somehow.

I'm using the GUI version separately for my projects for now.

[2017-09-13 22:06] VioletGiraffe commented on #167
@Altrue
#156

[2017-09-18 20:17] VioletGiraffe commented on #167
Closing as the original issue had been sorted, and the other one is already open.

[2017-09-18 21:19] #156 closed

[2017-09-18 21:25] VioletGiraffe commented on #167
@Altrue  @janwilmans
I have released the new version of the plugin that should work with VS 2017 (it works for me). Please try it out.

[2017-09-18 23:51] mloskot commented on #167
@VioletGiraffe I've installed successfully with the latest VS2017 (Release, not Preview).

It works with small solution with single project (`.vcxproj` manually created using the VS2017), with single .cpp file.

If I try to use it with large solution with number of projects (all `.vcxproj` manually created using the VS2017), then I'm getting an error:

![vs-cppcheck-addin](https://user-images.gith

[2017-09-19 04:56] VioletGiraffe commented on #167
That does not occur with two of my largest solutions, one containing 5 projects and the other - 28. I will try it out on another PC, but if I won't get this error, someone else will have to debug it.

[2017-09-19 07:05] VioletGiraffe commented on #166
Closing as the report is too vague and no follow-up has been provided.

[2017-09-19 07:05] #166 closed

[2017-09-19 07:08] #149 closed

[2017-09-19 07:14] VioletGiraffe opened #169 "The add-in fails to load in VS 2015"
Not sure what's going on. There's nothing on it in the Activity Log, and when I attempt to debug the add-in in VS 2015, the plugin is not even installed in the experimental instance,  even though the debugging settings are correct. There are no related messages.

[2017-09-19 07:16] VioletGiraffe commented on #138
Closing as too old - much has changed in the add-in's settings since then (for one, VS 2013 is probably no longer supported).

[2017-09-19 07:16] #138 closed

[2017-09-19 12:15] mloskot opened #171 "Release 1.3.4 not loading with Visual Studio 2012"
I'm loading simple C++ project with single cpp file and VS2012 is prompting this

![cppcheck-addin-with-vs2012](https://user-images.githubusercontent.com/80741/30591802-944ef1f6-9d44-11e7-9acc-ec4971a19989.png)

Here is relevant part of the log:
[code]

Full log attached in [ActivityLog.zip](https://github.com/VioletGiraffe/cppcheck-vs-addin/files/1314156/ActivityLog.zip)

[2017-09-19 12:26] VioletGiraffe commented on #171
I'm pretty sure I have removed support for VS 2012 and 2013 in d591f1268806508e1d6094b62651bf626472ce97

[2017-09-19 12:39] mloskot commented on #167
@VioletGiraffe
I have tested it on another Windows 10 machine and also with latest VS2017 (15.3.4).

* If I load single `.vcxproj` into VS, the add-in works and analyses the project.
and it seems to work there.

* If I add another `.vcxproj` to the same solution as loaded above, it still works.

* If I load large (+200 `.vcxproj`) solution, it no longer works. It throws the error about "Object ref

[2017-09-19 12:42] mloskot commented on #171
In fact, I have no problem with that. I only use VS2017 (or later :-))

Just that [README](https://github.com/VioletGiraffe/cppcheck-vs-addin/blob/5a605104756570dec141a8154e4208e893f0c7b8/README.md) says:

So, I decided to try it out, also for comparison with my previous tests in VS2017

[2017-09-19 12:56] VioletGiraffe commented on #171
Good catch, I'll edit that.

[2017-09-19 12:58] VioletGiraffe commented on #167
Thanks for the info. I'll try to find a test solution that would trigger this behavior. Do you know of a suitable open-source project?

[2017-09-19 13:23] mloskot commented on #171
Thanks.

Since I can't help with porting to/testing VS2012 myself, I'm closing the issue.

[2017-09-19 13:23] #171 closed

[2017-09-19 13:32] mloskot commented on #167
My favourite among giants is `.sln` with ~450 `.vcxproj` one can generate with CMake to build LLVM/clang.

[2017-09-19 13:34] VioletGiraffe commented on #167
That sounds like fun...
At least I have an SSD and a decent 8-core CPU, I should be able to open it if I let it do its thing for the whole evening, right? :)

[2017-09-19 13:36] mloskot commented on #167
LLVM without clang and cmake-configured without some optional modules should make it less :)

[2017-09-19 14:04] Dmitry-Me commented on #167
Would it be possible to reproduce the problem by creating an empty solution and then adding newly created "Win32 console application" projects into it?

[2017-09-19 14:09] VioletGiraffe commented on #167
@Dmitry-Me: good idea!

[2017-09-19 20:13] VioletGiraffe commented on #167
So it's the same problem I came across yesterday when debugging #156: reflection doesn't work, quite literally. And I don't understand why. In that case it was the function `isCppProject`, this time it's `isCppFile`.

[2017-09-19 20:27] mloskot commented on #167
Any chance this bug reported for VS2017 is related [VCProject.Configurations property broken for multiple C++ projects](https://developercommunity.visualstudio.com/content/problem/12260/vcprojectconfigurations-property-broken-for-multip.html)

It is about property of `Microsoft.VisualStudio.VCProjectEngine.VCProject` interface.

[2017-09-19 20:29] VioletGiraffe commented on #167
@mloskot
I have not gotten the configuration error message yet so I can't say. Have been debugging "Object reference not set to an instance".

[2017-09-19 21:29] janwilmans commented on #167
I was able to install 1.3.4 on visual studio preview, but on this project:
https://github.com/CobaltFusion/DebugViewPP

I get:
---------------------------
Microsoft Visual Studio
---------------------------
Object reference not set to an instance of an object.
---------------------------
OK
---------------------------

So I hope thats a reproduction scenario for you?

[2017-09-19 22:37] janwilmans commented on #167
I was able to build the head in vs2017, and attached the debugger:
![image](https://user-images.githubusercontent.com/5933444/30618695-ddb8683e-9d9b-11e7-8e5b-b46d06cf59d4.png)

[2017-09-20 05:03] VioletGiraffe commented on #167
@janwilmans
The problem is with reflection. A valid `VCFile` instance is obtained in CPPCheckPluginPackage.cs:538. I can get `file.Type` there no problem. But after I pass this `file` to `isCppFile` as `dynamic`, I cannot obtain its `Type` through reflection. And I don't understand why.

[2017-09-20 07:03] janwilmans commented on #167
but the getinterface of vcfile is already returning nullptr, right

On Sep 20, 2017 07:03, "Violet Giraffe" <notifications@github.com> wrote:

[2017-09-20 07:33] VioletGiraffe commented on #167
@janwilmans: right, and I don't quite understand what this code even does (luckily, I'm not its author, he-he). The way I see it, `isCppFile ` should be doing the following:

[code]

But it doesn't work either.

[2017-09-20 11:42] WhoWouldaThunk commented on #169
I just reinstalled windows and VS 2015, downloaded your addon, and had that issue too!
Here's what I have in my activity log for it:

CreateInstance failed for package [CPPCheckPluginPackage]Source: &apos;mscorlib&apos; Description: Could not load file or assembly &apos;Microsoft.VisualStudio.Shell.15.0, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a&apos; or one of its depende

[2017-09-21 06:57] VioletGiraffe commented on #169
So, the plugin currently depends on Shell 15.0 which is the VS 2017 version. For compatibility with VS 2015, Shell 14.0 reference should be added. But then I'm getting numerous errors of the following kind:

` error CS0433: The type 'ToolWindowPane' exists in both 'Microsoft.VisualStudio.Shell.14.0, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' and 'Microsoft.VisualStudio.She

[2017-09-21 11:47] damiandixon opened #172 "Pressing 'Edit active Project suppressions' causes error dialog to be displayed."
The content of the dialog is:

The best overloaded method match for 'VSPackage.CPPCheckPlugin.CPPCheckPluginPackage.isVisualCppProject(string)' has some invalid arguments.

Visual Studio Professional 2017, version 15.3.5

[2017-10-02 17:40] omarben opened #173 "Cannot install - Missing .NET Framewok"
Install Error : Microsoft.VisualStudio.ExtensionManager.MissingTargetFrameworkException: The extension 'cppcheck add-in' requires a version of the .NET Framework that is not installed.

Unfortunately the error message doesn't say what version of .NET I need.
I work on a managed machine (I can;t install this .NET)

So I would need to know what .NET I need so I can request it be installed by the adm

[2017-10-02 18:22] VioletGiraffe commented on #173
You need 4.6.

[2017-10-11 17:18] jmlundberg opened #174 "selected row unreadable in analysis result window (dark theme)"
Image attached
![darkthemeinvisible](https://user-images.githubusercontent.com/2904748/31455743-e1e74d7a-aeb8-11e7-940c-39b82971cd03.png)

[2017-10-11 18:33] VioletGiraffe commented on #174
Duplicate of #152. I did not find a way to fix this, although clearly there is a way.

[2017-10-11 18:33] #174 closed

[2017-10-21 19:29] Karaulov opened #175 "Plugin not works (VS 2017)"
Error:  Object reference not set to an instance of an object ?

![1f5ba9g 1](https://user-images.githubusercontent.com/6445336/31855213-41199868-b6af-11e7-9ba7-59e9344fb047.png)

It can be fix ?

[2017-10-21 21:42] VioletGiraffe commented on #175
Need more details. Can you debug the extension?

[2017-10-22 04:31] Karaulov commented on #175
_How to do it?_

_**1**. Install cpp extension
**2**. Run Visual Studio 2017 (Latest version)
**3**. Right click on c++ project and click cppcheck
**4**. You get this error.
**5**. You can fix this error ? :(_

_And standalone x64 windows version not working. (Stop working at 100% and GUI freezes)_

[2017-10-22 07:02] VioletGiraffe commented on #175
I cannot reproduce this issue.

[2017-10-22 10:01] Karaulov commented on #175
https://youtu.be/vudrGfVpYBM

[2017-10-22 10:08] VioletGiraffe commented on #175
I understand what you're doing. What I'm saying is I have tried checking a couple DLL projects, and I do not get this error. The best way to obtain more info is for you to download this repo, open the solution in Visual Studio and debug it.

[2017-10-22 10:17] Karaulov commented on #175
I got new error:
click: https://i.imgur.com/qHtZyoe.png
error: https://i.imgur.com/iO16r4h.png
**The best overloaded method match for 'VSPackage.CPPCheckPlugin.CPPCheckPluginPackage.isVisualCppProject(string)' has some invalid arguments.**

[2017-10-22 10:25] Karaulov commented on #175
I download this project, compile it in 'debug' mode and reinstall. Same error ...

[2017-12-03 12:24] CheckB opened #176 "missing icons (VS 17 latest)"
I lost the icons after installing the plugin.
If the plugin is removed (disable), the icons will return to the floor.

![1](https://user-images.githubusercontent.com/34208261/33525310-0f9883a2-d83e-11e7-8d40-6f752d53f5e1.png)

[2017-12-13 22:01] #173 closed

[2017-12-21 18:12] rhayne04 commented on #151
I am having a similar issue, except with VS 2013 Professional.  After I did the reset all settings thing, it now says "The 'CPPCheckPluginPackage' di not load correctly.  Checking the log, it says CreateInstance failed.

[2017-12-21 19:17] VioletGiraffe commented on #151
I think it's no longer compatible with VS 2013 after the recent changes and fixing VS 2017 issues. If you know how to add the missing dependencies and fine-tune the references, please do.

[2018-01-15 21:53] icnocop commented on #169
I created pull request https://github.com/VioletGiraffe/cppcheck-vs-addin/pull/177 to resolve this issue.

The latest appveyor build is here: https://ci.appveyor.com/project/icnocop/cppcheck-vs-addin/build/1.3.5

Notice that there are separate vsix artifacts for Visual Studio 2015 and Visual Studio 2017 because of the different references to "Microsoft.VisualStudio.Shell".

Thank you.

[2018-01-15 22:02] VioletGiraffe commented on #169
@icnocop
Thanks! So, it's not possible to support both VS versions with the same VSIX file? Or is it just that none of us knows how to do it?

[2018-01-15 22:09] VioletGiraffe commented on #175
Found at least one occurrence of this error. In the line `var fileTypeValue = vcFileInterface.GetProperty("FileType").GetValue((object)file);` in `CPPCheckPluginPackage.isCppFile()`.

[2018-01-15 22:24] icnocop commented on #169
VSIX files can support multiple versions of Visual Studio.

I think it would need to be configured in the vsixmanifest file if it's not already configured.

I personally don't have a lot of experience with vsixmanifest files.

The problem here is the dependency on `EnvironmentColors` and `ThemeResourceKey` which are defined in `Microsoft.VisualStudio.PlatformUI` and `Microsoft.VisualStudio.Shell`

[2018-01-15 22:38] icnocop commented on #169
Here a good reference:
https://msdn.microsoft.com/en-us/magazine/mt493251.aspx

It seems that instead of referencing `Microsoft.VisualStudio.Shell.14.0` and `Microsoft.VisualStudio.Shell.15.0`, we need to reference `Microsoft.VisualStudio.Shell.11.0`, but I haven't tested this yet.

https://stackoverflow.com/a/37880406/90287 indicates we can use the NuGet Package `VSSDK.Shell.11`.

I'll have to te

[2018-01-17 06:50] VioletGiraffe opened #179 "Appveyor build artifact is not a valid VSIX"
![image](https://user-images.githubusercontent.com/1175926/35029379-614b9af2-fb63-11e7-9378-e14d5dccaaad.png)

[code]

[2018-01-17 06:51] VioletGiraffe commented on #179
@icnocop Any idea how to fix this? I've used Appveyor for C++ builds, but don't understand how it works for C#. For example, how to build the project with VS 2017 specifically?

[2018-01-17 08:03] icnocop commented on #179
Appveyor has a separate build worker with Visual Studio 2017 installed, so in order to build a solution or project with a specific image, we'd have to specify it.

The image can be specified in at least two different ways, depending on whether there's a build matrix or not.

We can use the Appveyor web-based UI to generate a valid yml file.

For example, here is a version of appveyor.yml with Visu

[2018-01-17 10:13] icnocop commented on #179
I think we have to explicitly build with devenv.exe instead of msbuild. I will have to test it.

[2018-01-17 10:18] VioletGiraffe commented on #179
I just specified VS 2017 as you have suggested, and it works now. Not sure what the problem was, I didn't really expect building with VS 2017 instead of 2015 to magically help.

[2018-01-17 10:32] icnocop commented on #179
Ok, great! :)

Here's a reference for appveyor's build environment:
https://www.appveyor.com/docs/build-environment/

[2018-01-17 21:40] #179 closed

[2018-01-17 21:40] VioletGiraffe commented on #179
Thanks! You're right, should have read it first.

[2018-02-10 14:15] s7jones opened #180 "Cppcheck cannot find include files, presumably when there's a environment variable in the includepath."
Error Message:
[code]

In my vcxproj:
[code]

It looks like cppcheck is not resolving the environment variables. Thanks.

[2018-02-10 14:23] VioletGiraffe commented on #180
Apparently, the include paths that the add-in queries from Visual Studio are not resolved for us by Visual Studio (that would be too easy and no fun at all, right?).
Simply finding and resolving envvars is trivial, perhaps a bit less trivial is to remember to check and take into account the "Environment" setting of the corresponding project.

[2018-02-10 14:42] s7jones opened #181 "Plugin clashes with dark theme"
![cppcheck_analysis](https://user-images.githubusercontent.com/16854898/36063081-498047c2-0e70-11e8-9428-3e60dbc15c39.png)

Notice the light highlight makes the error unreadable.

[2018-02-10 18:43] VioletGiraffe commented on #180
On a second thought, after spending half the evening trying to access the Debug -> Environment property, I realized it probably doesn't affect the include paths and other compilation settings.

[2018-02-10 18:49] #180 closed

[2018-02-10 18:53] VioletGiraffe commented on #180
Fixed. You can install the updated add-in from the Appveyor build artifacts: https://ci.appveyor.com/project/VioletGiraffe/cppcheck-vs-addin/build/artifacts

[2018-02-12 17:57] s7jones commented on #180
Could you also expand environment variables in suppression settings?

[2018-02-12 18:25] VioletGiraffe commented on #180
Why would you use variables there? Can you give me an example?

[2018-02-12 18:32] s7jones commented on #180
I tried ignoring `%BWAPI_DIR%/**/*`, because I don't want to run cppcheck on the includes from that project.

[2018-02-12 19:15] VioletGiraffe commented on #180
Done: https://ci.appveyor.com/api/buildjobs/bbxvsncalt7bx9qj/artifacts/CPPCheckPlugin%2Fbin%2FRelease%2FCppcheckPlugin.vsix

[2018-02-16 20:33] claremacrae opened #182 "Infinite loop when saving file, if cppcheck not found"
Preconditions:

* install cppcheck-vs-addin
* in the cppcheck-vs-addin settings, enable "Cppcheck start analysis when file is saved", and then save a file
* forget to install Cppcheck (because http://cppcheck.sourceforge.net/ is currently giving "Project web is currently offline pending the final migration of its data to our new datacenter."
* Create a file in your Project and then save it

Observ

[2018-02-16 21:15] #182 closed

[2018-02-16 21:17] VioletGiraffe commented on #182
Fixed. That infinite loop probably wasn't such a good idea, huh.

By the way, you can download cppcheck from Github releases: https://github.com/danmar/cppcheck/releases

[2018-02-16 21:56] claremacrae commented on #182
Wow - that's a really quick bug-fix, and thanks for the pointer to the download page too!

[2018-02-16 22:41] VioletGiraffe commented on #182
It really was a quick fix :) You've put more effort into structuring your error report than I did into fixing it. Wish everyone would be as thorough and detailed when reporting issues.

[2018-02-18 07:13] Karaulov commented on #175
Any news ?  Impossible to fix this error ?

[2018-02-18 07:55] VioletGiraffe commented on #175
Of course it's possible, I just don't know how to. I don't even have a reliable way of reproducing this error.

[2018-02-18 10:07] Karaulov commented on #175
I don't know how to debug this addon.

[2018-02-20 13:55] Thorius commented on #175
I just want to mention that I too have the same issue. I am generating a large project with CMake which has custom configurations (e.g. there is NoOpt|x64 and Release|x64 instead of Debug and Release) and even a custom CMake generation before the solution is generated. Whenever I attempt to use the Tools -> Check current project with cppcheck I get the "Object reference not set" error. However, if

[2018-02-20 14:10] VioletGiraffe commented on #175
@Thorius : the problem, of course, is not related to cppcheck, it's an internal issue of the Visual Studio add-in. Unfortunately, the add-in has to use `dynamic` and `object` extensively, which are opaque types pointing to no one knows what (like `void*` in C/C++), and that's where the error occurs (or, rather, where it manifests). Those are the hoops the add-in has to jump through in order to mai

[2018-02-20 14:25] Thorius commented on #175
@VioletGiraffe thanks for the feedback! Unfortunately, the project is not open source. I will try to make something that reproduces the problem but I am not sure how successful I will be. If I manage to think up of something this week, I will be sure to write to you in this thread. If not, maybe I will even try debugging it locally, but I will have to find the time to do so.

So far, besides the g

[2018-02-20 15:04] VioletGiraffe commented on #175
The message and the "Reference not set" error are most likely related.
I'll see if creating a new project and adding a couple odd configurations triggers the error.

[2018-02-21 16:32] Thorius commented on #175
@VioletGiraffe ,I did some experiments and it seems that the issue is almost certainly in CMake and/or Visual Studio and not explicitly with the plugin.

The day I tried the plugin, I also updated CMake to the 3.11.0 Release Candidate and regenerated my solution. Apparently, that version of CMake somehow manages to generate multiple references to certain files (or something along those lines) and

[2018-02-21 16:52] VioletGiraffe commented on #175
@Thorius, interesting! Thanks for letting me know.

[2018-03-07 13:13] erikrenberg commented on #175
For my solution the CppCheck extension sometimes works, but sometimes I get the message error 'Reference not set to an instance of an object'. Not very helpful; I know; so I have tried to see some patterns and found a workaround that works for me:

- Right-clicking a project in the solution explorer and doing **CppCheck current project** fails often, but I have found a workaround that makes is suc

[2018-03-07 14:01] VioletGiraffe commented on #175
Yes, that is supposed to work.

Thanks for sharing your findings, but I don't see how it could help in solving the problem. Someone familiar with VS SDK, or at least proficient in with C#/.Net, has to look into this error.

[2018-03-31 19:17] LindaC2031 commented on #175
I have the same problem.  Using  erikrenberg work around works, but its a pain in the butt!  Even went through the hoops of installing MSVS 2017 in a clean new - virtual world and then added CppCheck. Same object issue as on my main system.

[2018-04-05 07:39] mpcoombes commented on #175
I also have the same issue. I work with a large solution with a mixture of C# and C++ projects, dll's and static libraries.
As an alternative to Erikrenberg's work around I open just the project I'm working on in a new instance of VS then the right-click options work fine. It's a pain as I'm writing code in one instance of VS and using another to run cppcheck.

[2018-04-15 15:04] xkbeyer commented on #175
I have the same issue and figured out that in my case it is related to how CMake generates the solution.
The solution has at least two additional projects: `ALL_BUILD` and `ZERO_CHECK`. They don't have any source files.
The `getActiveProjects()` returns the `ALL_BUILD` project as the current one.
I assume that is why the fileObjectType.GetInterface() returns null.
Therefore in my case it works if

[2018-05-31 10:29] louislau86 opened #183 "The width of list view header of Cppcheck analysis results window automatic adjustment"
We must adjust the width of list view header by manual when a new checking finished and showing the results. I think it would be automatic adjust by setting header width attribute as auto, and i tried that it took effect.

[2018-06-04 11:03] ruizpauker commented on #169
Hi, I'm facing this error with VS2015, is there any way to overcome it?

[2018-06-04 11:20] VioletGiraffe commented on #169
Try the VSIX linked above.

[2018-06-04 11:32] ruizpauker commented on #169
Yes, thanks I tried that one and it worked!

Anyway thou I'm wondering why it's not included as a [Project Relase](https://github.com/VioletGiraffe/cppcheck-vs-addin/releases), the latest relase there is 1.3.4 while the one on the link provided is 1.3.8, shouldn't this be harmonized/synced?

[2018-06-04 11:41] VioletGiraffe commented on #169
I remember how I thought it's time to update the release, but don't recall why I didn't go through with that after all. Perhaps, another important bug was discovered. But you're right, I should probably release the latest version and see what happens.

[2018-06-04 11:44] ruizpauker commented on #169
If support is needed I'll be glad to help.

[2018-06-11 09:52] AHUMANTHATISHUMAN opened #184 "Exclude certain files from checking"
When running a check that is not an automatic check after saving, there is no way to exclude the 10000+ line libraries, resulting in 90% CPU and a very unresponsive visual studio. This makes it very difficult to cancel. There should be a way to exclude certain files or allow checking without #includes so it doesn't take hours.

[2018-06-11 10:36] VioletGiraffe commented on #184
It's in the plugin settings. You can add filters to exclude files and folders, separately for headers and source files.

[2018-06-11 10:36] #184 closed

[2018-08-09 13:32] clcaalu commented on #149
Is there a reply to this question?

[2018-08-09 17:43] VioletGiraffe commented on #149
@clcaalu : the settings are stored in `Properties.Settings.Default`. I don't know which specific storage backs up this API.

[2018-08-14 15:15] david-hoze commented on #144
Hi, I need this too..

[2018-08-21 11:51] gordon-proctor commented on #169
The artifact at https://ci.appveyor.com/project/VioletGiraffe/cppcheck-vs-addin/build/1.3.8/artifacts has been deleted as it was more than 6 months old. Can you generate a new one or include it in the Project Release?

[2018-08-25 05:51] VioletGiraffe commented on #169
Should be fixed in the latest release now.

[2018-08-25 05:51] #169 closed

[2018-09-18 18:03] Keith-Albright-Bose opened #185 "hard to use in dark theme - highlight color is same as text"
Run plugin in VS2017 in dark theme.
Try to mouse over results.
You can't read them because of the bright highlight.

[2018-09-18 18:05] Keith-Albright-Bose commented on #172
I get the same isuse.

[2018-09-18 18:47] VioletGiraffe commented on #185
I know about that, but I don't know how to access this color to change it. See #152.

[2018-09-18 18:47] #185 closed

[2018-11-24 01:54] lederernc commented on #152
I added a PR for supporting dark mode.

[2018-11-24 06:38] lederernc commented on #152
this can be closed now.

[2018-11-24 07:02] VioletGiraffe commented on #152
Yep. Thank you.

[2018-11-24 07:02] #152 closed

[2018-12-21 01:12] ChrisAWills opened #187 "Does not work with VS2017 Open Folder/Cmake solutions"
No results seem to be generated when trying to use the option to run after each save when opening the project using Visual Studio 2017's open folder option.

Our project is made with CMAKE so no project file is made we just utilize the open folder.

Could it be made to work with this setup.

[2019-01-07 05:48] mghstehr commented on #187
Yes (please do it), it would be very nice, if it could support CMAKE based "projects".

Best Regards
Matthias

[2019-01-08 06:38] VioletGiraffe commented on #187
I agree, this would be a nice feature to have. But I don't use these kinds of projects, so I'm personally not motivated enough to work on this. If anyone wants to contribute, you are more than welcome!

[2019-01-08 08:20] VioletGiraffe commented on #183
The width is already set to "Auto" so I'm not sure what else can be done. If you know and tested a solution, please submit a pull request.

[2019-01-11 19:11] inkmeister commented on #175
I can reliably "fix" this issue for our team at work by turning off the VS 2017 C++ project caching. Tools -> Options -> Projects and Solutions -> VC++ Project Settings -> Enable Project Caching and set to "No". You'll need to re-start VS for it to take effect. Hopefully this will work for some of you with the same problem.

This C++ project caching caused lots of problems for us and we turn it of

[2019-01-25 16:17] Monotoba opened #188 "Does not install in latest Visual Studio 2017 Community Edition"
As stated I cannot install the plugin in the latest Visual Studio 2017 Community Edition. However, this may be due to the fact that on my machine it is finding Atmel Studio (Based on Visual Studio) and not Visual Studio. I am running Windows 10.

Here's the log output:
1/25/2019 9:08:48 AM - Microsoft VSIX Installer
1/25/2019 9:08:48 AM - -------------------------------------------
1/25/2019 9:08:

[2019-03-12 11:20] Michael-Gor commented on #175
Same for me. It works only if I disable project caching.

[2019-03-12 11:29] VioletGiraffe commented on #175
I have project caching enabled and haven't hit this error for over a year, I think. I don't know of a reliable repro case for this error.

[2019-03-13 10:14] Michael-Gor commented on #175
I have debugged it (with managed code only).
In function getActiveSelections, lines 463 and below... If I expand selItem, I see the file name of the cpp file I have selected. The Project member is null, ProjectItem is a COM object, and I can´t see anything inside.

Then it calls isCppFile, and fileObjectType.GetInterface returns null.

We have qmake generated projects. I also tested loading one pr

[2019-03-13 11:10] VioletGiraffe commented on #175
@Michael-Gor, I'v debugged up until that point as well a while back, but I honestly just couldn't figure out what's going on inside those opaque COM objects.

[2019-03-13 12:18] Michael-Gor commented on #175
I´ve found this:

https://developercommunity.visualstudio.com/content/problem/154569/cannot-convert-envdteprojectitemobject-to-microsof.html

But it depends on which project/solution I have loaded, so I don´t think it matters here.

Otherwise, I tried to call file.FileType directly, if vcFileInterface is null. I get an int back, and it´s 0. Its somehow unfortunate, that its indeed the correct valu

[2019-03-13 13:22] Dmitry-Me commented on #175
@VioletGiraffe It's very hard (usually impossible) to get what's going on inside a COM object using a debugger when you don't have the COM server source code. The only practical thing you can do is get values from all property getters and guess what's going on.

[2019-05-03 09:09] janosimas opened #189 "Sort on reload issues"
After sorting the issues list:
if the list is reloaded the 'sort arrow' in the tab name is still there but the issues are not sorted.

[2019-05-03 09:10] janosimas opened #190 "Sort by line"
Sorting by line is not working.

[2019-05-03 09:13] janosimas opened #191 "Grouping issues by type"
It would be great to group issues by type (e.g. C-style casting..., uninitialized variable...)

maybe an option to show in a tree?

[2019-05-03 09:57] VioletGiraffe commented on #189
Yeah, they're added in the order that `cppcheck` spits them out regardless of the last selected sort order, I think. More an issue of the `ListView` not sorting new items automatically, but I can certainly trigger a re-sort manually. However, then there is no way to view the issues in their natural order (short of adding a number/index column).

[2019-05-03 12:42] VioletGiraffe commented on #191
Agreed, would be nice.
I'll look into it after I get the repo to a workable state (currently porting to the new async package type).

[2019-05-07 07:02] janosimas opened #192 "Tooltip on mouseover"
I think it would be useful to have the error message as a tooltip on mouseover.
For example, I keep the cpp check tab open in the side of the IDE. I can see the beginning of the message and most of the time I know what's the problem. In some cases I want to see the end of the message to get some detail:
[code]

[2019-05-07 07:05] janosimas opened #193 "Copy error message"
The current widget (?) doesn't allow to copy an error message.

Suggestions:
 - Ctrl+c - copy the whole table line (file, line, message...)
 - context menu -> copy error message - Copy only the message

[2019-05-07 07:06] janosimas commented on #193
somewhat related to #97

[2019-05-07 07:48] VioletGiraffe commented on #192
Agreed, good suggestion.

[2019-05-11 03:26] Karaulov opened #194 "Visual Studio 2017 not works after install latest cppcheck plugin"
Visual Studio 2017 not works after install latest cppcheck plugin

After run, after 5-10 seconds, Visual Studio not answering and stop works.

[2019-05-11 05:10] VioletGiraffe commented on #194
By "latest", do you mean the most recent release or the latest revision from the master branch?

[2019-05-11 05:13] Karaulov commented on #194
@VioletGiraffe latest from ci.appveyor

[2019-05-11 05:13] Karaulov commented on #194
I download with 'Dark theme fix' release and it works.

[2019-05-11 05:29] VioletGiraffe commented on #194
I know about that, it's work in progress. But thanks for letting me know :)

[2019-05-11 05:29] #194 closed

[2019-06-18 03:12] sparkskapil opened #195 "How can I exclude complete folder from check"

[2019-06-18 04:55] VioletGiraffe commented on #195
Hm, there doesn't seem to be such an option. You can exclude files by file names (not by full path), and you can exclude include paths, but not source files based on their folder.

[2019-06-18 09:42] sparkskapil commented on #195
Thanks for the reply.
I found a way to exclude a folder by using regex in Excluded Include paths
.*3ndParty.*
This will exclude all files in folder named 3rdParty

[2019-06-18 09:42] #195 closed

[2019-06-20 04:51] manuagrwl opened #196 "Is there someplace that the cppcheck outputs from the plugins are saved? Can we save the CPPcheck outputs from the VS plugin into an external file?"

[2019-06-29 18:27] VioletGiraffe opened #197 "MSVC now correctly reports __cplusplus"
https://devblogs.microsoft.com/cppblog/msvc-now-correctly-reports-__cplusplus/

`macros.Add("__cplusplus=199711L")` is no longer the correct way to go.

[2019-06-30 07:34] VioletGiraffe commented on #142
VS 2013 is no longer supported. If you get this error on a newer version of Visual Studio with the latest release, open a new issue.

[2019-06-30 07:34] #142 closed

[2019-06-30 07:36] VioletGiraffe opened #198 ""Run analysis upon file save?" prompt is showing after every Visual Studio restart"

[2019-06-30 07:48] #198 closed

[2019-06-30 07:58] #172 closed

[2019-07-02 07:43] VioletGiraffe opened #199 "Provide some predefined macros"
https://docs.microsoft.com/en-us/cpp/preprocessor/predefined-macros?view=vs-2019

- [ ] __cplusplus https://devblogs.microsoft.com/cppblog/msvc-now-correctly-reports-__cplusplus/
- [ ] _MT
- [ ] _MSC_FULL_VER

[2019-07-02 07:43] VioletGiraffe commented on #197
Moved to  #199.

[2019-07-02 07:43] #197 closed

[2019-07-02 07:59] VioletGiraffe opened #200 "Output window not cleared when a new check starts"

[2019-07-18 10:35] dagophil opened #201 "Excluded include paths not working"
I added `.*gtest.*` and `.*gmock.*` to the excluded include paths. However, if I use `#include <gmock/gmock.h>` in some .cpp, I get a lot of analysis results for files coming from that include, for example, gmock-matchers.h.
I am using the addin 1.3.6 with Visual Studio Professional 2015 version 14.0.25431.01 Update 3.

[2019-07-18 11:05] VioletGiraffe commented on #201
I think it may be a regex syntax issue. Unfortunately, regular expressions is not my strong suite, and I don't know C# specifics.

[2019-07-18 11:56] dagophil commented on #201
Thanks for the quick reply :)
After some investigation I come to the conclusion that I probably misunderstood the purpose of the excluded include paths setting. I thought that the setting applies to the path `xyz.h` from the `#include <xyz.h>` in my source files. However, it seems that the field applies to the _Additional Include Directories_ of the project settings instead. Is that true? In that

[2019-07-18 12:27] VioletGiraffe commented on #201
Oh! I keep forgetting about that distinction myself. Yes, you're right. So if you specify Google Test and Mock paths via _Additional Include Directories_ you can exclude it that way, otherwise cppcheck processes the whole file as it's stored on the disk.

[2019-07-18 13:42] dagophil commented on #201
Okay, thanks for the clarification.

[2019-07-18 13:42] #201 closed

[2019-08-08 12:08] atorstling commented on #166
For what it's worth, I'm getting the same error with the latest build. Can I diagnose it somehow?

[2019-08-12 05:37] Karaulov opened #202 "The extension with the identifier "127d8bd3-8cd7-491a-9a63-9b4e89118da9" is not installed in Visual Studio Community 2017"
Error The extension with the identifier "127d8bd3-8cd7-491a-9a63-9b4e89118da9" is not installed in Visual Studio Community 2017

https://pastebin.com/yQzrTCA5

[2019-08-12 08:56] VioletGiraffe commented on #202
What's the edition and version of your Visual Studio 2017?

[2019-08-12 10:06] Karaulov commented on #202
@VioletGiraffe  Visual Studio Community Edition 2017, version 15.9.12

[2019-08-12 10:14] VioletGiraffe commented on #202
IF I'm reading correctly, this is what it fails to find, although I don't see how the add-in could require it. Could it be that your VS installation is somehow broken? I really don't understand.

[2019-08-12 11:04] VioletGiraffe opened #203 "Add live analysis with error highlighting to the text editor itself"

[2019-08-12 13:51] Karaulov commented on #202
It possible. I have installed WDK, but remove it some time ago.

[2019-08-12 13:51] #202 closed

[2019-08-30 20:44] aliha opened #204 "Add support of VS 2019"
It seems that version 1.4.1 does not work with Visual Studio 2019 16.2.3 .
It is installed without any error.
When I run it, nothing happens. There is no message in `cppcheck analysis output` and `cppcheck analysis results` is empty.

[2019-08-30 20:46] VioletGiraffe commented on #204
I don't know what problem this is yet, but I doubt it has to do with the particular version of VS  (I'm running 16.2.3 myself right now).

[2019-08-30 21:02] aliha commented on #204
Thank you for the quick reply.
Is there anything that I do to get more information? Any debug flag that I turn on? any log?

[2019-08-30 21:51] VioletGiraffe commented on #204
Not really, the only way of debugging right now is to actually debug it (build from source and launch debugging).

[2019-08-31 10:26] VioletGiraffe commented on #204
Try checking a different project / solution, as a test.

[2019-08-31 19:16] aliha commented on #204
I tried different projects and solutions. They are the same, nothing happens.

[2019-09-25 08:09] graemekelly commented on #175
I just wanted to update to say that I am running into this too. I'm setup here to build/debug but I haven't been able to figure it out, unfortunately.

Strange thing is that it happens on my desktop but not my laptop - and I haven't been able to narrow down any differences between them. Exact same projects and source, same steps to reproduce, same Visual Studio version and same setup across both.

[2019-09-25 08:16] Michael-Gor commented on #175
I did not use it recently, because I already switched to VS2019, and it´s not available for this version yet.

[2019-09-25 08:23] VioletGiraffe commented on #175
@Michael-Gor : but it is available, version 1.4.1 (the latest one) from Releases supports 2019.

[2019-09-25 08:49] graemekelly commented on #175
The manifest needs an update to let the vsix install for VS2019. I had to do that here, I can submit a PR if you want but I had been hoping to figure out this error first

[2019-09-25 08:57] Michael-Gor commented on #175
I could live with the workaround, so it would be more comfortable for me to get an update for the new VS.

Otherwise, does my last comment somehow help you?
"Otherwise, I tried to call file.FileType directly, if vcFileInterface is null. I get an int back, and it´s 0. Its somehow unfortunate, that its indeed the correct value for eFileTypeCppCode.
But I guess you could add a similar workaround to m

[2019-09-25 09:06] VioletGiraffe commented on #175
@graemekelly : are you sure you're working with the latest version of the source code? I commited VS 2019 support a while back: https://github.com/VioletGiraffe/cppcheck-vs-addin/blob/master/CPPCheckPlugin/source.extension.vsixmanifest

[2019-09-25 09:08] VioletGiraffe commented on #175
As for the bug being discussed here: I started a large refactoring job to get rind of as much COM and `dynamic` stuff as I can, but I hit a roadblock with some basic VS SDK APIs not working. Not sure what to do next, but I don't want to discard my changes so I'll have to figure something out.

[2019-09-25 09:14] graemekelly commented on #175
Oh yeah, I'm out of date, apologies! I'll grab that and have a look at a workaround at some point (maybe not this week though).

[2019-09-25 09:29] Michael-Gor commented on #175
I installed 1.41. right now, and the installing also worked, but somehow, I don´t get it working. It seams to run, I get the results window, but it´s always empty and I don´t see any output.

[2019-09-25 09:59] graemekelly commented on #175
It's this same problem - the vcFileInterface is null, and the code is throwing an exception each time isCppFile is called. It's just different to the original behaviour of this problem where a dialog is shown with the error. Now it's a silent failure, but the loop now is able to continue trying to iterate every file in the project, and not being able to process any of them. It was changed in d0798

[2019-09-25 10:05] VioletGiraffe commented on #175
Ah, so it probably the exact same thing that Michael-Gor described...

[2019-09-25 10:08] Michael-Gor commented on #175
Thanks for the hint.
I disabled project caching in VS again, and now I get an error message:

Cannot implicitly convert type 'System.Threading.Tasks.Task<VSPackage.CPPCheckPlugin.SourceFile>' to 'VSPackage.CPPCheckPlugin.SourceFile'

[2019-09-25 10:10] VioletGiraffe commented on #175
If you're launching it with a debugger, can you tell me which line of the source code throws this?

[2019-09-25 11:42] graemekelly commented on #175
I did get something working with a workaround after all (using a hard-coded 0 for the cpp file type). It seems OK to me if you are happy with it (I mean, other than the fact that it's a hack).

I ran into another problem - where createSourceFileAsync() couldn't get the config. It is looking for "debug" but if I iterate projects.Configuration, it's really "debug|x64" that we need to be looking for.

[2019-09-25 11:56] VioletGiraffe commented on #175
That's a very nice find, but I'm hesitant about accepting any changes to CPPCheckPluginPackage.cs  right now because I have tons of outstanding changes with that unfinished refactoring. Let me think.

[2019-09-25 12:03] Michael-Gor commented on #175
So, took me a few hours to get it running again. VS2017 just terminated silently, when opening your sln. And VS2019 installer was not running (silently, of course), because of incompatible node.js options I had stored in an environment variable. VS is getting better and better ;)

The call stack does not contain that much information:

[2019-09-26 09:35] graemekelly commented on #175
Ran into that here (4e298d09734cc135974e87e475aff0757f8a4b8a has the fix, but same file as yesterday so will hold off PR for now).

In the meantime it can be worked around by either scanning the entire solution, or entire projects (only affected code path is the "CPPCheck selected items" for selected files only).

[2019-09-26 09:54] graemekelly opened #205 "excluding entire folders to scan"
Hi,

I have a solution where I want to exclude an entire folder; our code has third-party headers in /<project>/thirdparty/whatever and this pattern repeats through our code. I'd like to be able to exclude it all with one regex - .*thirdparty.*

However, the code processing the file exclusions only operates on the fileName, not the filePath:

https://github.com/VioletGiraffe/cppcheck-vs-addin/blob

[2019-09-26 10:56] VioletGiraffe commented on #205
That would be great. A separate rule for paths would, of course, be the most flexible way, but I don't know if it's justified or overkill.

[2019-09-26 11:12] graemekelly commented on #205
Yeah, seems like overkill to me tbh but I've never used the exclusions before. Happy with a PR to just change to filePath and we can worry another time if anyone comes back and says they need a separate option?

[2019-09-26 11:16] VioletGiraffe commented on #205
Agreed, I'll happily accept the PR.

[2019-09-26 13:16] graemekelly commented on #205
My git skills are failing me, since I have those unmerged changes for the other issue we are talking. I'll hold off on this until we decide whether I should submit a PR for the other fixes or throw them away based on your unfinished refactoring work.

[2019-09-26 13:21] VioletGiraffe commented on #205
Submit everything then (in two separate PRs if you can).

[2019-11-01 14:02] Dmitry-Me opened #207 "async void method might be problematic"
Code analysis says that

    public static async void addTextToOutputWindow(string text)

is not the best option because https://stackoverflow.com/q/53215577

Looks like it should be refactored.

[2019-11-01 14:09] VioletGiraffe commented on #207
An interesting note, thanks, I'll fix it.

[2019-12-20 06:20] desmond-dsouza opened #208 "Question: does this addin work with VSCode remote development"
e.g. If I am running VSCode on my Mac and using `VSCode Remote SSH` to do my builds on a remote Linux box, can I still use this add-in to get static analysis checks (presumably these have to run on the remote Linux box)?

Thanks!

[2019-12-20 08:49] VioletGiraffe commented on #208
I don't think so. VS Code is totally different from the proper Visual Studio, their plugins are not compatible in any way.

[2019-12-20 08:49] #208 closed

[2020-01-28 13:38] zchrissirhcz commented on #134
Hi @VioletGiraffe, I met this problem in my VS2017. I'm used to press Ctrl+S to save my current edited file, and the always pop-up "save cppcheck result" window is not what I expected. Is there any setting that we can do to avoid that?

[2020-01-28 14:34] VioletGiraffe commented on #134
I have the same habit of pressing Ctrl+S very often, and I encountered the same problem a long time and haven't been able to figure it out. I thought the source file is locked while cppcheck is running, so I added a short delay before cppcheck is started hoping that it will be enough for Visual Studio to save the file, but it doesn't always help (although it seems to have improved things, the dial

[2020-03-26 01:46] phuclv90 opened #209 "Latest release is too old"
The latest release in https://github.com/VioletGiraffe/cppcheck-vs-addin/releases/latest and https://marketplace.visualstudio.com/items?itemName=Alexium.Cppcheckadd-in is 1.3.6 and doesn't work in VS 2019. I tried to compile from source and it came out being 1.4.1

[2020-07-22 05:22] BitCruncher0 commented on #209
Does 1.4.1 work on VS 2019?

[2020-07-22 07:16] VioletGiraffe commented on #209
Yes, it does work on VS 2019.

[2020-07-29 18:04] amai2012 commented on #209
@VioletGiraffe  Is there a specific reason for not providing more recent release?

[2020-07-29 18:35] VioletGiraffe commented on #209
@amai2012, none. I've been working on a deep refactoring and was going to update the release when I'm done, but I got stuck up to the point where even basic VS SDK calls didn't work at all and I couldn't understand why. So I guess I just need to revert everything.

[2020-08-09 15:26] Nir-Az commented on #162
Is this option available today?
show cppcheck results from the currently saved file only when Check files after save option is selected

Thanks

[2020-08-09 19:01] VioletGiraffe commented on #209
There is now a fresh release with VS 2019 support.

[2020-08-09 19:01] #209 closed

[2020-08-09 19:02] #204 closed

[2020-08-09 19:04] VioletGiraffe commented on #176
Closing, as it's an old issue with no recent activity.

[2020-08-09 19:04] #176 closed

[2020-08-09 19:05] #167 closed

[2020-08-09 19:05] VioletGiraffe commented on #162
@Nir-Az, this isn't implemented but it can be done in principle.

[2020-08-09 19:06] #151 closed

[2020-08-09 19:06] #134 closed

[2020-08-09 19:39] #88 closed

[2020-08-09 19:50] VioletGiraffe opened #211 "Occasional total freeze of VS when cppcheck is triggered"

[2020-08-10 09:57] VioletGiraffe commented on #196
Duplicate of #97.

[2020-08-10 09:57] #196 closed

[2020-08-10 10:00] VioletGiraffe commented on #84
The problem is I couldn't find how to query the inherited defines using VS SDK.

[2020-12-07 08:27] GitMensch commented on #209
@VioletGiraffe Can you please push the new release to https://marketplace.visualstudio.com/items?itemName=Alexium.Cppcheckadd-in? it is still on version 1.3.4.

[2020-12-07 10:04] VioletGiraffe commented on #209
@GitMensch, sure, will do. Good point.

[2020-12-16 14:21] rubenvb commented on #211
Any updates on this?

Our company is holding back on using this plugin to introduce cppcheck because this causes too much frustration with our developers. Editing 5 files and saving all of them (with cppcheck on save enabled) takes about 5 seconds during which the IDE is completely frozen. More files only extend the period VS is frozen and irresponsive.
It seems like for multiple file save, the pl

[2020-12-16 14:36] VioletGiraffe commented on #211
Hi, I don't recall exactly what the current architecture is with regards to worker threads and async stuff, but either way it is, of course, bad design to freeze the main thread for so long. I'll look into this when I have the time (during the next couple days, hopefully).
Although I believe the issue I encountered when I opened this ticket was an eternal freeze, not a temporary one.

[2021-01-08 13:53] ncook-hxgn opened #212 "Appears to do nothing."
Hi there,

I installed CppCheck and then this extension. I have a 'cppcheck analysis output' stream available in my Visual Studio Output window, however when I CppCheck Current Project, nothing happens. What gives?

The extension didn't ask for CppCheck's location.

Edit: I am able to use CppCheck via it's CLI successfully, generating output xmls files etc.

Surely this is some error on my behalf?

[2021-01-08 21:11] VioletGiraffe commented on #212
It's hard to say without debugging. Could be that something in the project structure or settings prevents the VS add-in from reading the project or from interpreting it as a C++ project. You could try a different project from a different source (some simple open-source tool from Github, for example. I used to use the LLVM solution for testing).

[2021-01-12 17:42] ncook-hxgn commented on #212
I will give the LLVM solution a go (didn't realise it I could just install it with VS before I started building it!)

Thanks for the speedy respone - apologies for taking a few days to get back to you.

[2021-01-12 18:16] VioletGiraffe commented on #212
Unfortunately, not. I didn't encounter many problems for which logging could be helpful. But clearly, it's time to add some. I'll look into it right now.

[2021-01-13 10:49] VioletGiraffe commented on #212
I seem to have the same problem, the code for determining types of items in a project doesn't work the way it used to. I'm looking into it.

[2021-01-13 16:33] ncook-hxgn commented on #212
That's great news. It would be awesome to have this working in VS alongside Clang-Tidy and MS Code Analysis 💪

[2021-01-13 20:58] VioletGiraffe commented on #212
To be honest, I'm disappointed in cppcheck - a big part of the reason why I haven't actively developed this extension for a long while. Cppcheck doesn't hold a candle to clang.

Try the attached extension:
[CppcheckPlugin.zip](https://github.com/VioletGiraffe/cppcheck-vs-addin/files/5811042/CppcheckPlugin.zip)

[2021-01-14 10:18] ncook-hxgn commented on #212
That's a bit disheartening to hear about cppcheck! Howcomes?

I renamed the zip to .vsix, and got an installation error.. it says it's missing an extension.vsixmanifest..

[2021-01-14 10:22] VioletGiraffe commented on #212
You need to extract the VSIX file from the ZIP archive, not just rename it :)

[2021-01-14 10:29] ncook-hxgn commented on #212
Ahaa, you got me!

So I am curious although it's off topic - what do prefer about Clang over CppCheck?

[2021-01-14 10:44] VioletGiraffe commented on #212
Cppcheck seems to suffer from not being an actual compiler, and also from having a very small development team. Failures to find includes, especially the system ones (Windows SDK), sometimes errors interpreting valid C++ syntax. Also, there could be way more different useful checks.
But don't be disheartened by my rambling, any static analysis tool is better than no tool, and the more you use simu

[2021-01-14 10:55] ncook-hxgn commented on #212
That all makes sense to me! From what I remember of reading the CppCheck blurb on their website, they do say they have a slimmer focus, with their tool. I agree entirely, we'll need to figure out which tools serve us best for certain checks and work with them accordingly. Horses for Courses as they say 👍 I am just glad we are in a place now with VS where I can get three tools into developers hands

[2021-01-14 11:02] VioletGiraffe commented on #212
1.4.3 is the updated version indeed. Odd, since I was able to reproduce the error and then I fixed it. I guess I can't get away without proper debug logging after all. It'll take a bit because I don't have much free time these days, but I'll get back to you.

[2021-01-14 11:10] ncook-hxgn commented on #212
Sure thing :) I appreciate how responsive you've been, and there's no immediate rush - I am very much in the researching phase at the moment.

FWIW I'm using VS 2019 16.7.3 on a recently updated x64 Windows 10 Pro box (probably should have mentiond that earlier).

If you need a tester, I am here and happy to help - it doesn't take long to install the extension, open the LLVM solution, and have a g

[2021-01-14 11:13] ncook-hxgn commented on #203
.. Intellicode/Intellisense integration? +1

[2021-05-07 22:29] CasperLuca commented on #212
I had a similar experience, (perhaps after i changed my supression file?!? or some other setting in the interface, I was fiddeling arround a bit before I noticed) the extension stopped working, but in my case updating to your 1.4.3 zip fixed the issue.

though I was able to reproduce something similar afterwards: if I add something incorrect to the solution suppression file under [cppcheck_files]

[2021-05-10 07:16] #205 closed

[2021-08-03 15:35] SpareSimian commented on #212
Still no output with VS 2019 16.10.3 on Win10 x64 21H1. I figured I'd get either a dialog or output in the log window showing analysis progress.

I might see if I can get this to build. I haven't investigated implementing an IDE extension before so the attempt should be interesting.

(I recently discovered the cppstories.com blog (good for advanced C++ programmers) and saw mention of the SonarSour

[2021-08-03 16:18] SpareSimian commented on #212
I cloned/built/installed and the current master fixes the problem for me, using VS 16.10.4.

[2021-08-03 16:22] SpareSimian opened #216 "Scroll output as new records are added"
For a long analysis, it's hard to know when it's done. Keep the last record in view (ie. scroll the output) unless the user clicks on another record, to work like the compiler output window.

[2021-08-03 17:32] VioletGiraffe commented on #212
Interesting, thanks for the info. I'll check what it was that the master fixed over the last release and will then update the release.

Although there's non-zero chance that it worked simply because you built it locally, and didn't work because there's something wrong with the references in my binary package when it runs in your VS.

[2021-08-03 17:46] SpareSimian commented on #75
With my 1.4.3 built from master (commit a5b1556b5f1ca8cae41bd237971bfaab7554650b), I right-clicked on a source file in Solution Explorer and selected "CPPCheck selected items" and it ran away checking everything, not just that file.  It's still running many minutes later, and all cppcheck menus remain disabled. How is it "selecting items"? The list file from the Output window shows that it's doing

[2021-08-03 17:57] SpareSimian commented on #212
I unloaded my version and tried the one from your January zip file and that does nothing, as with 1.4.2. So it sounds like the build environment might be a factor.

[2021-08-03 18:15] SpareSimian commented on #212
Both my Release and Debug builds produce output. So it's not the configuration.

[2021-08-03 18:56] SpareSimian commented on #84
Why not check only the current configuration and use *all* of its macros? I'm using wxWidgets GUI portability library and it fails badly without any macros defined.

[2021-08-03 19:37] VioletGiraffe commented on #75
It's best to exclude it using the list of excluded files and folder in the add-on settings. And, of course, it's not right that it's checking all the files instead of the selected one, I'll take a look.

[2021-08-03 19:41] VioletGiraffe commented on #212
[CppcheckPlugin (2).zip](https://github.com/VioletGiraffe/cppcheck-vs-addin/files/6926670/CppcheckPlugin.2.zip)
Please try this VSIX I just built from master head on my machine, does it work?

[2021-08-03 19:53] SpareSimian commented on #84
Since you're running in the VS context and have access to the current configuration, you should be able to expand its PreprocessorDefinitions and generate -D arguments for cppcheck. Although you might need to synthesize the internal compiler ones. I don't know what the IDE exposes to an addon.

[2021-08-03 20:03] VioletGiraffe commented on #84
I do that, and I do synthesize some internal ones like __cplusplus, although it's very flaky. This issue is specifically about the inherited defines that I couldn't find how to access from the extension:

![image](https://user-images.githubusercontent.com/1175926/128078651-43b5823d-7264-4454-9621-256d09156fa7.png)

[2021-08-03 20:35] SpareSimian commented on #84
I couldn't see any -D options in the generated command line.

[2021-08-03 21:01] VioletGiraffe commented on #212
Well, I've installed it on my dev machine and it does nothing, so there is indeed something fishy going on. I'll investigate.

[2021-08-03 22:04] VioletGiraffe commented on #84
@SpareSimian, I think you haven't ticked this checkbox in the CppCheck add-in settings:

![image](https://user-images.githubusercontent.com/1175926/128092341-ee1d49fe-40f7-4898-b6a9-cbe5c2c3a823.png)

[2021-08-04 00:44] SpareSimian commented on #84
That must be it. Only the last checkbox was checked. Recall that checking one file insisted on checking the whole project, but it wasn't including macros on the command line. It's still insisting on checking the whole project but now it looks like it's including a lot of preprocessor macros at the end of the command line, so it's a lot more successful.

[2021-08-04 09:11] VioletGiraffe commented on #84
I've just double-checked: if you have "Check file after save" enabled and you hit Ctrl+S on a source file, only this one file is checked.
And "Cppcheck selected items" in the context menu should be renamed to "Cppcheck selected projects". It does operate on projects. If you select a couple files, the project(s) to which these files belong will be checked in their entirety.
Perhaps, another command

[2021-08-12 20:59] yuyoyuppe commented on #212
@VioletGiraffe that one also didn't work for me :)

[2021-08-12 21:09] VioletGiraffe commented on #212
@yuyoyuppe, are you able to build the extension from source to confirm that the problem is related to the build environment/settings and not the source code itself?

[2021-08-12 22:55] yuyoyuppe commented on #212
Yep, building current master worked for me, so it's definitely something with your env

[2021-08-13 08:25] VioletGiraffe commented on #212
What about the package built by Github?
https://github.com/VioletGiraffe/cppcheck-vs-addin/suites/3451024510/artifacts/81918205

[2021-08-14 19:20] yuyoyuppe commented on #212
@VioletGiraffe that one does work, thank you.

Although the tool itself didn't produce any useful results unfortunately :(

[2021-08-14 20:30] VioletGiraffe commented on #212
@yuyoyuppe, maybe you didn't have enough errors in your code :)
Thank you for letting me know the version built by Github VM works.

[2021-11-09 10:57] roalz opened #217 "Visual Studio 2022 support"
Can this extension be updated to support Visual Studio 2022?

[2021-11-09 11:04] VioletGiraffe commented on #217
I hope so, but haven't looked into that yet.

[2022-01-04 00:47] netmonitoring commented on #217
VioletGiraffe, could you take a look for VS2022 support? Thanks.

[2022-01-08 14:58] arsari commented on #217
I wish to have this on my VS 2022 for a current work in progress for the next weeks...

[2022-01-15 15:54] VioletGiraffe commented on #217
I gave it a quick try. Bumping the upper supported VS version to 17 in the vsixmanifest produces a VSIX file that's not installable in both 2019 and 2022. I've tried both ways - `18)` and `17]`.

[2022-02-14 00:53] gagmeng opened #218 "It doesn't do anything for *.c files."
It doesn't do anything for *.c files.

[2022-03-15 16:55] Ou7law007 commented on #217
Is it coming to VS 2022 at all at this point?

[2022-03-15 17:40] VioletGiraffe commented on #217
Can you make it happen? I couldn't.

[2022-03-17 20:18] Ou7law007 commented on #217
I don't have the knowledge or experience to do it unfortunately.

[2022-03-17 23:04] VioletGiraffe commented on #217
I am quite curious as to why simply bumping the target VS version doesn't work (it did with the transition from 2017 to 2019), and why the resulting VSIX is not installable even in Vs2019. Could someone please explain this?

[2022-03-18 11:58] ReggThims commented on #217
On 17/03/2022 23:04, Violet Giraffe wrote:

https://docs.microsoft.com/en-us/visualstudio/extensibility/migration/update-visual-studio-extension?view=vs-2022

[2022-03-20 08:37] GarMingLi opened #219 "安装错误"
在 Zip 中找不到 extension/package.json。

[2022-03-20 09:00] VioletGiraffe commented on #219
Can you show the screenshot of the error? No one else has reported this before.

[2022-04-08 19:24] Ou7law007 opened #220 "Wrong conclusions by cppcheck?"
This is simply not true.

![image](https://user-images.githubusercontent.com/64309267/162510325-8a537e72-59c1-4550-96be-8f6184352d70.png)

[2022-04-08 19:36] VioletGiraffe commented on #220
This is a problem of the cppcheck tool, not my extension which is just a wrapper for cppcheck. Report it to the cppcheck maintainers.

[2022-04-08 19:36] #220 closed

[2022-08-12 18:50] t-johnson commented on #217
@VioletGiraffe i can try to take this on.  i've done this for another extension i built...

[2022-08-12 20:29] VioletGiraffe commented on #217
@t-johnson, please, be my guest! That would be great.

[2022-08-14 13:25] t-johnson commented on #217
@VioletGiraffe
Okay creating a branch for VS2019 sounds great. i am getting the current project converted to target VS2022, upgrading nuget packages, etc.  once i have done some testing i will make a PR for you.

[2022-09-02 14:58] BoraxKid commented on #217
Can a new release also be made available for VS2022 please ?

[2022-09-02 15:17] VioletGiraffe commented on #217
@BoraxKid, get the add-in from Appveyor: https://ci.appveyor.com/api/buildjobs/3pan1uvrvx744gmm/artifacts/CPPCheckPlugin%2Fbin%2FRelease%2FCppcheckPlugin.vsix
Later I'll make a release, too.

[2022-09-16 02:44] songzi-w commented on #217
Can't download it?

[2022-09-16 20:42] #219 closed

[2022-09-16 20:43] VioletGiraffe commented on #217
@BoraxKid I've made a release: https://github.com/VioletGiraffe/cppcheck-vs-addin/releases/tag/1.5

[2022-09-16 20:43] #217 closed

[2022-09-16 20:45] #211 closed

[2022-09-16 20:45] #212 closed

[2022-10-12 21:05] jjkalafut opened #224 "'CppcheckPlugin' Description: Could not load file or assembly 'Microsoft.VisualStudio.Threading, Version=17.3.0.0"
I'm having this issue after installing in VS2022.
I did notice that app.config has <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.8.0.0" newVersion="15.8.0.0"/>

Perhaps that needs to be 17.3?

I do have cppcheck installed and working on the PC, just the extension is giving me issues.

[2022-10-12 21:06] jjkalafut commented on #224
markup issue in my first commen, should be app.config has: bindingRedirect oldVersion="0.0.0.0-15.8.0.0" newVersion="15.8.0.0"

[2022-10-12 21:17] VioletGiraffe commented on #224
Which release have you tried, is it the new 1.5 for VS2022?

[2022-10-12 21:35] jjkalafut commented on #224
Yep, i haven't used any older ones. Downloaded today. The error is the normal 'plugin couldnt load', but i coped that reference from the vs activity log.

[2022-10-26 14:13] PaltryProgrammer opened #225 "apparently attempting to open cppcheck executable upon file save"
Greetings Kind Regards Today Installed 1.5 for VS 2022 Upon file save Windows Explorer opens w/ file filter set to cppcheck executable. Please see attached PNG. I have no idea how to proceed further. I searched my system for cppcheck.exe but found a v2.0 installed 2020
![apparent attempt to open cppcheck executable upon file save](https://user-images.githubusercontent.com/48535920/198049864-a44c47

[2022-10-26 21:13] #225 closed

[2022-10-26 22:48] PaltryProgrammer commented on #225
Thank You Kindly for your reply. Upon installing via cppcheck-2.9-x64-Setup.msi close/open Visual Studio 2022 Preview and save file the attached message appeared w/ no request to locate cppcheck.exe as prior.
![cppcheck error](https://user-images.githubusercontent.com/48535920/198152995-1eccccea-0265-40c5-9e37-120ac5cefdbf.png)

[2022-10-27 03:54] PaltryProgrammer opened #226 "error report on !#defined comment"
Greetings Kind Regards Attached please find 2 PNGs demonstrates analysis of comment within !#defined block
![analysis of comment within !#defined block  1](https://user-images.githubusercontent.com/48535920/198187370-bf89e816-9ab4-448d-aaf9-592e7e8e2a2c.png)

![analysis of comment within !#defined block 2](https://user-images.githubusercontent.com/48535920/198187393-5b9e9959-8e52-474b-9932-3415540

[2022-10-30 18:46] #226 closed

[2022-11-01 15:09] 0x416c69 commented on #224
@VioletGiraffe Same problem here. Using Visual Studio Enterprise 2022 - LTSC 17.2.8